In [5]:
from core.libs import pd
from core.db import get_engine
from core.schema_helpers import rename_columns_using_schema
from Cruises.general_importer import prepare_df_for_sql, save_inventory_to_sql
from Cruises.dead_alive_calculator import calculate_dead_alive
from core.doyle_calculator import calculate_doyle

archivo = r"D:\OneDrive Local\OneDrive - World Tree Technologies Inc\Forest Inventory - Documentos\USA\2021_ForestInventory\9-Database\2021_US_Database v1.1.xlsx"
sheet = 'TreeList_Data'

In [7]:
#Leer el archivo
df = pd.read_excel(archivo, sheet_name=sheet)
df = rename_columns_using_schema(df)

In [9]:
print(df.head())

   FarmerCode contractcode   farmername  PlantingYear  PropertyID  plot  \
0       10001       US0004  BruceGamble          2016         NaN     1
1       10001       US0004  BruceGamble          2016         NaN     1
2       10001       US0004  BruceGamble          2016         NaN     1
3       10001       US0004  BruceGamble          2016         NaN     1
4       10001       US0004  BruceGamble          2016         NaN     1

   tree_number  TPA_1/10ac      Status  dbh_in  tht_ft  merch_ht_ft  dbh_in  \
0            1        10.0  Suppressed     2.0     NaN          NaN   5.080
1            2        10.0        Live     5.4    18.0          8.0  13.716
2            3        10.0        Live     6.5    25.0          8.0  16.510
3            4        10.0        Live     6.5    25.0         10.0  16.510
4            5        10.0     Missing     NaN     NaN          NaN     NaN

   tht_ft  merch_ht_ft  BA (sqft/ac)     BA_ac    VOL_m3  VOL_m3ac       MBF  \
0     NaN          NaN      0.021816  0.218160       NaN       NaN       NaN
1  5.4864       2.4384      0.159039  1.590386  0.048571  0.485714  0.011830
2  7.6200       2.4384      0.230431  2.304315  0.084340  0.843404  0.020541
3  7.6200       3.0480      0.230431  2.304315  0.084340  0.843404  0.020541
4     NaN          NaN           NaN       NaN       NaN       NaN       NaN

     MBF_ac  dead_tree  alive_tree
0       NaN          1           0
1  0.118295          0           1
2  0.205410          0           1
3  0.205410          0           1
4       NaN          1           0

In [8]:
# CALCULADORES que faltaban:
engine = get_engine()
df = calculate_dead_alive(df, engine)
df = calculate_doyle(df)

ðŸ’» Conectado a la base de datos helloworldtree

TypeError: arg must be a list, tuple, 1-d array, or Series

In [ ]:
engine = get_engine()

tabla_destino = "inventory_us_2022"

save_inventory_to_sql(engine, tabla_destino, df_sql)