In [4]:
from MasterDatabaseManagement.tools.database_management_helpers import remove_tz
from core.db import get_engine
from core.libs import pd, Path
from core.paths import DATABASE_EXPORTS_DIR, ensure_all_paths_exist
from MasterDatabaseManagement.Queries import fetch_active_contracts_query_df

# --- CONFIGURACIÃ“N ---
engine = get_engine()
ensure_all_paths_exist()

WANTED = [
    ("contract_tree_information",   "CTI"),
    ("farmer_personal_information", "FPI"),
    ("contract_allocation",         "CA"),
    ("inventory_metrics_current",   "IMC"),
    ("survival_current",            "Survival_Current"),
]

outfile = Path(DATABASE_EXPORTS_DIR) / "masterdatabase_export_joined.xlsx"

# --- FUNCIONES ---
def read_table(table):
    """Lee una tabla del esquema masterdatabase y remueve tz."""
    df = pd.read_sql(f'SELECT * FROM masterdatabase."{table}"', engine)
    return remove_tz(df)

# --- INICIO ---
print("ðŸ“¦ Iniciando export...")

tables = pd.read_sql("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'masterdatabase'
""", engine)["table_name"].str.lower().tolist()
existing = set(tables)


# --- EXPORT Y UNIÃ“N ---
joined_df = None
with pd.ExcelWriter(outfile, engine="openpyxl") as writer:

    # 1ï¸âƒ£ Exportar tablas individuales
    dfs = {}
    for table, sheet_name in WANTED:
        if table.lower() not in existing:
            print(f"âš ï¸ Tabla no encontrada: {table}")
            continue
        df = read_table(table)
        dfs[sheet_name] = df
        df.to_excel(writer, sheet_name=sheet_name, index=False)
        print(f"ðŸ“„ Exportado: {sheet_name} ({len(df)} filas)")

    # 2ï¸âƒ£ Active Farmers Query (final)
    try:
        afq_df = fetch_active_contracts_query_df(engine)
        afq_df = remove_tz(afq_df)
        afq_df.to_excel(writer, sheet_name="Active Farmers Query", index=False)
        print("âœ… AFQ exportado.")
    except Exception as e:
        pd.DataFrame({"error": [str(e)]}).to_excel(
            writer, sheet_name="Active Farmers Query (error)", index=False
        )

    # 3ï¸âƒ£ JOINS: expandir contract_codes de FPI
    try:
        fpi = dfs.get("FPI")
        if fpi is None:
            raise ValueError("FPI no encontrada, no se puede generar join")

        # expandir contract_codes (array de texto)
        fpi_exploded = fpi.explode("contract_codes").rename(columns={"contract_codes": "contract_code"})
        print(f"ðŸ” FPI expandida a {len(fpi_exploded)} filas.")

        # base del join
        joined_df = fpi_exploded.copy()

        # merge progresivo
        if "CTI" in dfs:
            joined_df = joined_df.merge(dfs["CTI"], on="contract_code", how="left", suffixes=("", "_CTI"))
        if "CA" in dfs:
            joined_df = joined_df.merge(dfs["CA"], on="contract_code", how="left", suffixes=("", "_CA"))
        if "IMC" in dfs:
            joined_df = joined_df.merge(dfs["IMC"], on="contract_code", how="left", suffixes=("", "_IMC"))
        if "Survival_Current" in dfs:
            joined_df = joined_df.merge(dfs["Survival_Current"], on="contract_code", how="left", suffixes=("", "_Surv"))

        # ordenar por farmer_number + contract_code
        if "farmer_number" in joined_df.columns and "contract_code" in joined_df.columns:
            joined_df = joined_df.sort_values(["farmer_number", "contract_code"])

        joined_df.to_excel(writer, sheet_name="MASTER_JOINED", index=False)
        print(f"ðŸ§© MASTER_JOINED listo ({len(joined_df)} filas).")

    except Exception as e:
        pd.DataFrame({"error": [str(e)]}).to_excel(
            writer, sheet_name="MASTER_JOINED (error)", index=False
        )
        print("âŒ Error al generar MASTER_JOINED:", e)

print(f"\nâœ… Export final listo en: {outfile}")

ðŸ“„ Exportado: CTI (462 filas)
ðŸ“„ Exportado: FPI (385 filas)
ðŸ“„ Exportado: CA (462 filas)
ðŸ“„ Exportado: IMC (521 filas)
ðŸ“„ Exportado: Survival_Current (428 filas)
âœ… AFQ exportado.
ðŸ” FPI expandida a 461 filas.
ðŸ§© MASTER_JOINED listo (556 filas).

âœ… Export final listo en: C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\masterdatabase_export_joined.xlsx

In [5]:
from core.db import get_engine
from core.libs import pd

engine = get_engine()

# --- CARGA ---
imc = pd.read_sql('SELECT * FROM masterdatabase.inventory_metrics_current', engine)
im  = pd.read_sql('SELECT * FROM masterdatabase.inventory_metrics', engine)

print("ðŸ“¦ Totales:")
print(f" - inventory_metrics_current: {len(imc)} filas")
print(f" - inventory_metrics: {len(im)} filas")

# --- AGRUPACIÃ“N POR CONTRACT_CODE ---
grp_imc = imc.groupby("contract_code", dropna=False).size().reset_index(name="count_imc")
grp_im  = im.groupby("contract_code", dropna=False).size().reset_index(name="count_im")

# --- JOIN DE COMPARACIÃ“N ---
merged = grp_im.merge(grp_imc, on="contract_code", how="outer")

# AÃ±adimos tambiÃ©n el aÃ±o de inventario (promedio o mÃ¡s reciente)
def summarize_years(df, label):
    return (
        df.groupby("contract_code")["inventory_year"]
        .agg(["min", "max"])
        .rename(columns={"min": f"{label}_min_year", "max": f"{label}_max_year"})
        .reset_index()
    )

years_im  = summarize_years(im, "IM")
years_imc = summarize_years(imc, "IMC")

# Unimos todo
merged = (
    merged.merge(years_im, on="contract_code", how="left")
           .merge(years_imc, on="contract_code", how="left")
)

# --- DIFERENCIAS ---
merged["count_diff"] = merged["count_imc"].fillna(0) - merged["count_im"].fillna(0)
merged["year_diff"]  = merged["IMC_max_year"] - merged["IM_max_year"]

# --- RESULTADOS ---
print("\nðŸ“Š Resumen general:")
print(merged.describe(include="all"))

# Contratos con discrepancias en conteo
diff_counts = merged[merged["count_diff"] != 0]
print(f"\nâš ï¸ Contratos con diferencia de registros: {len(diff_counts)}")

# Contratos donde el aÃ±o no coincide
diff_years = merged[merged["year_diff"].fillna(0) != 0]
print(f"ðŸ“… Contratos con diferencia en aÃ±os de inventario: {len(diff_years)}")

# --- EXPORT A EXCEL ---
out = r"C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\inventory_metrics_comparison.xlsx"
with pd.ExcelWriter(out, engine="openpyxl") as writer:
    im.to_excel(writer, sheet_name="Inventory_Metrics", index=False)
    imc.to_excel(writer, sheet_name="Inventory_Metrics_Current", index=False)
    merged.to_excel(writer, sheet_name="Comparison", index=False)

print(f"\nâœ… ComparaciÃ³n exportada: {out}")

ðŸ’» Conectado a la base de datos helloworldtree
ðŸ“¦ Totales:
 - inventory_metrics_current: 521 filas
 - inventory_metrics: 295 filas

ðŸ“Š Resumen general:
       contract_code    count_im   count_imc  IM_min_year  IM_max_year  \
count            424  198.000000  424.000000   198.000000   198.000000
unique           424         NaN         NaN          NaN          NaN
top           US0165         NaN         NaN          NaN          NaN
freq               1         NaN         NaN          NaN          NaN
mean             NaN    1.489899    1.228774  2022.868687  2023.823232
std              NaN    0.752255    0.568705     1.704854     1.419253
min              NaN    1.000000    1.000000  2021.000000  2021.000000
25%              NaN    1.000000    1.000000  2021.000000  2022.500000
50%              NaN    1.000000    1.000000  2024.000000  2024.000000
75%              NaN    2.000000    1.000000  2024.000000  2025.000000
max              NaN    4.000000    4.000000  2025.000000  2025.000000

        IMC_min_year  IMC_max_year  count_diff  year_diff
count     198.000000    198.000000  424.000000      198.0
unique           NaN           NaN         NaN        NaN
top              NaN           NaN         NaN        NaN
freq             NaN           NaN         NaN        NaN
mean     2022.868687   2023.823232    0.533019        0.0
std         1.704854      1.419253    0.499498        0.0
min      2021.000000   2021.000000    0.000000        0.0
25%      2021.000000   2022.500000    0.000000        0.0
50%      2024.000000   2024.000000    1.000000        0.0
75%      2024.000000   2025.000000    1.000000        0.0
max      2025.000000   2025.000000    1.000000        0.0

âš ï¸ Contratos con diferencia de registros: 226
ðŸ“… Contratos con diferencia en aÃ±os de inventario: 0

âœ… ComparaciÃ³n exportada: C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\inventory_metrics_comparison.xlsx

In [6]:
from core.db import get_engine
from core.libs import pd

engine = get_engine()
count = pd.read_sql('SELECT COUNT(*) AS total FROM masterdatabase.contract_tree_information', engine)
print(count)

ðŸ’» Conectado a la base de datos helloworldtree
   total
0    462

In [7]:
from core.db import get_engine
from core.libs import pd

engine = get_engine()

# --- CARGA ---
cti = pd.read_sql('SELECT contract_code FROM masterdatabase.contract_tree_information', engine)
imc = pd.read_sql('SELECT contract_code, inventory_year FROM masterdatabase.inventory_metrics_current', engine)
im  = pd.read_sql('SELECT contract_code, inventory_year FROM masterdatabase.inventory_metrics', engine)

print(f"ðŸ“¦ Registros cargados:")
print(f" - CTI: {len(cti)} contratos")
print(f" - IMC: {len(imc)} inventarios actuales")
print(f" - IM:  {len(im)} inventarios histÃ³ricos")

# --- NORMALIZAR ---
# for df in [cti, imc, im]:
#     df["contract_code"] = df["contract_code"].astype(str).str.strip()

# --- CONTRATOS FALTANTES ---
missing_in_imc = cti[~cti["contract_code"].isin(imc["contract_code"])]
missing_in_im  = cti[~cti["contract_code"].isin(im["contract_code"])]

print(f"\nðŸš« En CTI pero no en IMC: {len(missing_in_imc)}")
print(f"ðŸš« En CTI pero no en IM:  {len(missing_in_im)}")

# --- DUPLICADOS Y AGRUPADOS POR AÃ‘O ---
def detect_duplicates(df, label):
    dup = (
        df.groupby("contract_code")
        .agg(count=("inventory_year", "count"),
             years=("inventory_year", lambda x: sorted(set(x))))
        .reset_index()
    )
    dup = dup[dup["count"] > 1].sort_values("count", ascending=False)
    dup["source"] = label
    return dup

dups_imc = detect_duplicates(imc, "IMC")
dups_im  = detect_duplicates(im, "IM")

print(f"\nâš ï¸ Contratos duplicados en IMC: {len(dups_imc)}")
print(f"âš ï¸ Contratos duplicados en IM:  {len(dups_im)}")

# --- EXPORT ---
out = r"C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\inventory_verification_vs_cti.xlsx"
with pd.ExcelWriter(out, engine="openpyxl") as writer:
    missing_in_imc.to_excel(writer, sheet_name="Missing_in_IMC", index=False)
    missing_in_im.to_excel(writer, sheet_name="Missing_in_IM", index=False)
    dups_imc.to_excel(writer, sheet_name="Duplicates_IMC", index=False)
    dups_im.to_excel(writer, sheet_name="Duplicates_IM", index=False)

print(f"\nâœ… VerificaciÃ³n exportada a: {out}")

ðŸ’» Conectado a la base de datos helloworldtree
ðŸ“¦ Registros cargados:
 - CTI: 462 contratos
 - IMC: 521 inventarios actuales
 - IM:  295 inventarios histÃ³ricos

ðŸš« En CTI pero no en IMC: 40
ðŸš« En CTI pero no en IM:  266

âš ï¸ Contratos duplicados en IMC: 70
âš ï¸ Contratos duplicados en IM:  70

âœ… VerificaciÃ³n exportada a: C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\inventory_verification_vs_cti.xlsx

In [8]:
from core.db import get_engine
from core.libs import pd

engine = get_engine()

# --- CARGA ---
imc = pd.read_sql('SELECT * FROM masterdatabase.inventory_metrics_current', engine)
print(f"ðŸ“¦ IMC cargado: {len(imc)} filas totales")

# --- VERIFICAR CAMPOS DISPONIBLES ---
if "contract_code" not in imc.columns or "inventory_year" not in imc.columns:
    raise ValueError("Faltan columnas necesarias: 'contract_code' o 'inventory_year'")

# --- IDENTIFICAR DUPLICADOS ---
dups = (
    imc.groupby("contract_code", dropna=False)["inventory_year"]
    .agg(list)
    .reset_index()
)
dups["count"] = dups["inventory_year"].apply(len)
dups = dups[dups["count"] > 1]
print(f"âš ï¸ Contratos con mÃºltiples aÃ±os: {len(dups)}")

# --- FILTRAR SOLO LOS MÃS RECIENTES ---
# importante: no se normaliza texto, se usa el valor exacto de contract_code
latest_idx = (
    imc.sort_values("inventory_year", ascending=False)
       .groupby("contract_code", dropna=False)
       .head(1)
       .index
)
imc_latest = imc.loc[latest_idx]

print(f"âœ… IMC depurado: {len(imc_latest)} filas (solo aÃ±os mÃ¡s recientes)")

ðŸ’» Conectado a la base de datos helloworldtree
ðŸ“¦ IMC cargado: 521 filas totales
âš ï¸ Contratos con mÃºltiples aÃ±os: 70
âœ… IMC depurado: 424 filas (solo aÃ±os mÃ¡s recientes)

In [9]:
# --- EXPORT ---
out = r"C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\inventory_metrics_current_latest.xlsx"
with pd.ExcelWriter(out, engine="openpyxl") as writer:
    imc.to_excel(writer, sheet_name="Original_IMC", index=False)
    imc_latest.to_excel(writer, sheet_name="Latest_Only", index=False)
    dups.to_excel(writer, sheet_name="Duplicated_Contracts", index=False)

print(f"\nðŸ“ Export listo: {out}")

ðŸ“ Export listo: C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\inventory_metrics_current_latest.xlsx

In [16]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

# --- RESPALDO ---
print("ðŸ“¦ Creando respaldo temporal de masterdatabase.inventory_metrics_current...")

with engine.begin() as conn:
    # eliminar si ya existe
    conn.execute(text("DROP TABLE IF EXISTS masterdatabase.inventory_metrics_current_backup"))
    # crear copia exacta
    conn.execute(text("""
        CREATE TABLE masterdatabase.inventory_metrics_current_backup AS
        TABLE masterdatabase.inventory_metrics_current
    """))

print("âœ… Respaldo creado: masterdatabase.inventory_metrics_current_backup")

# --- OBTENER MÃS RECIENTES ---
query_latest = """
WITH ranked AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY contract_code ORDER BY inventory_year DESC) AS _rank_filter
    FROM masterdatabase.inventory_metrics_current
)
SELECT * FROM ranked WHERE _rank_filter = 1;
"""

latest_df = pd.read_sql(query_latest, engine)
print(f"ðŸ“Š Filtrados {len(latest_df)} registros mÃ¡s recientes de IMC")

# Eliminar columnas auxiliares que no existen en la tabla destino
columns_to_drop = ['_rank_filter', 'rn']  # ajusta segÃºn tus columnas auxiliares
latest_df = latest_df.drop(columns=[col for col in columns_to_drop if col in latest_df.columns])

# --- REEMPLAZAR TABLA ORIGINAL CON FILTRADOS ---
# CAMBIO CLAVE: usa 'engine' directamente, no conn.connection
with engine.begin() as conn:
    conn.execute(text("TRUNCATE TABLE masterdatabase.inventory_metrics_current"))

# Escribir fuera del contexto de transacciÃ³n para evitar conflictos
latest_df.to_sql(
    "inventory_metrics_current",
    con=engine,  # â† USA EL ENGINE DIRECTAMENTE
    schema="masterdatabase",
    if_exists="append",
    index=False
)

print("âœ… Tabla masterdatabase.inventory_metrics_current actualizada con solo registros mÃ¡s recientes.")

# --- VALIDACIÃ“N FINAL ---
count_check = pd.read_sql("SELECT COUNT(*) AS total FROM masterdatabase.inventory_metrics_current", engine)
print(f"ðŸ” Registros finales en IMC: {count_check.loc[0, 'total']}")

ðŸ’» Conectado a la base de datos helloworldtree
ðŸ“¦ Creando respaldo temporal de masterdatabase.inventory_metrics_current...
âœ… Respaldo creado: masterdatabase.inventory_metrics_current_backup
ðŸ“Š Filtrados 0 registros mÃ¡s recientes de IMC
âœ… Tabla masterdatabase.inventory_metrics_current actualizada con solo registros mÃ¡s recientes.
ðŸ” Registros finales en IMC: 0

In [24]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

print("ðŸ“Š Leyendo datos actuales de IMC...")
current_df = pd.read_sql("SELECT * FROM masterdatabase.inventory_metrics_current", engine)
print(f"ðŸ“Œ Total registros: {len(current_df)}")

# AnÃ¡lisis de duplicados
print("\nðŸ” Analizando duplicados por contract_code...")
dup_analysis = (
    current_df.groupby("contract_code", dropna=False)["inventory_year"]
    .agg(list)
    .reset_index()
)
dup_analysis["count"] = dup_analysis["inventory_year"].apply(len)
contracts_with_multiple = dup_analysis[dup_analysis["count"] > 1]
print(f"   â”œâ”€ Contratos con mÃºltiples registros: {len(contracts_with_multiple)}")
print(f"   â””â”€ Contratos Ãºnicos: {len(dup_analysis)}")

# MÃ‰TODO CORRECTO: Ordenar por inventory_year (NaN al final) y tomar el primero de cada grupo
print("\nðŸ” Filtrando solo el registro mÃ¡s reciente por contract_code...")

# Primero eliminar duplicados exactos de contract_code + inventory_year
print("   â”œâ”€ Eliminando duplicados de contract_code + inventory_year...")
deduped = current_df.drop_duplicates(subset=['contract_code', 'inventory_year'], keep='first')
print(f"      â””â”€ {len(current_df)} â†’ {len(deduped)} registros")

# Ordenar y tomar el mÃ¡s reciente (NaN va al final automÃ¡ticamente)
latest_df = (
    deduped
    .sort_values('inventory_year', ascending=False, na_position='last')
    .groupby('contract_code', dropna=False, as_index=False)
    .first()
)

print(f"   â””â”€ Resultado: {len(latest_df)} registros (1 por contract)")

# Eliminar columna 'rn' si existe
if 'rn' in latest_df.columns:
    latest_df = latest_df.drop(columns=['rn'])
    print("\nðŸ—‘ï¸ Columna 'rn' eliminada")

# AnÃ¡lisis del resultado
with_year = latest_df[latest_df['inventory_year'].notna()]
without_year = latest_df[latest_df['inventory_year'].isna()]
print(f"\nðŸ“Š Resultado del filtrado:")
print(f"   â”œâ”€ Con inventory_year: {len(with_year)}")
print(f"   â””â”€ Sin inventory_year: {len(without_year)}")

# Mostrar preview
print("\nðŸ“‹ Preview de registros a mantener (top 15 con aÃ±o):")
preview = with_year[['contract_code', 'inventory_year', 'inventory_date', 'pkid']].head(15)
print(preview.to_string(index=False))

# CONFIRMACIÃ“N DE SEGURIDAD
print(f"\nâš ï¸  ATENCIÃ“N:")
print(f"   â”œâ”€ Total actual: {len(current_df)} registros")
print(f"   â”œâ”€ Se eliminarÃ¡n: {len(current_df) - len(latest_df)} registros")
print(f"   â””â”€ Se mantendrÃ¡n: {len(latest_df)} registros (1 por contract)")

respuesta = input("\nÂ¿Confirmas? Escribe 'SI' para continuar: ")

if respuesta.strip().upper() == 'SI':
    print("\nðŸš¨ ACTUALIZANDO TABLA...")

    with engine.begin() as conn:
        conn.execute(text("TRUNCATE TABLE masterdatabase.inventory_metrics_current"))

    latest_df.to_sql(
        "inventory_metrics_current",
        con=engine,
        schema="masterdatabase",
        if_exists="append",
        index=False
    )

    print("âœ… TABLA ACTUALIZADA EXITOSAMENTE")

    # VerificaciÃ³n final
    count = pd.read_sql("SELECT COUNT(*) as total FROM masterdatabase.inventory_metrics_current", engine)
    final = pd.read_sql(
        "SELECT contract_code, inventory_year, pkid FROM masterdatabase.inventory_metrics_current ORDER BY inventory_year DESC NULLS LAST LIMIT 10",
        engine
    )
    print(f"\nðŸ“Š Registros finales: {count.loc[0, 'total']}")
    print("\nâœ“ Top 10 por aÃ±o mÃ¡s reciente:")
    print(final.to_string(index=False))
else:
    print("âŒ OperaciÃ³n cancelada. No se hizo ningÃºn cambio.")

ðŸ’» Conectado a la base de datos helloworldtree
ðŸ“Š Leyendo datos actuales de IMC...
ðŸ“Œ Total registros: 521

ðŸ” Analizando duplicados por contract_code...
   â”œâ”€ Contratos con mÃºltiples registros: 70
   â””â”€ Contratos Ãºnicos: 424

ðŸ” Filtrando solo el registro mÃ¡s reciente por contract_code...
   â”œâ”€ Eliminando duplicados de contract_code + inventory_year...
      â””â”€ 521 â†’ 520 registros
   â””â”€ Resultado: 424 registros (1 por contract)

ðŸ—‘ï¸ Columna 'rn' eliminada

ðŸ“Š Resultado del filtrado:
   â”œâ”€ Con inventory_year: 198
   â””â”€ Sin inventory_year: 226

ðŸ“‹ Preview de registros a mantener (top 15 con aÃ±o):
contract_code  inventory_year inventory_date        pkid
       CR0013          2021.0     2021-01-01 CR0013 2021
       CR0028          2021.0     2021-01-01 CR0028 2021
       CR0029          2021.0     2021-01-01 CR0029 2021
       CR0030          2025.0     2025-01-23 CR0030 2025
       CR0035          2024.0     2024-02-09 CR0035 2024
       CR0039          2024.0     2024-01-16 CR0039 2024
       CR0042          2024.0     2024-01-31 CR0042 2024
       CR0044          2024.0     2024-11-01 CR0044 2024
       CR0046          2024.0     2024-01-15 CR0046 2024
       CR0047          2024.0     2024-02-19 CR0047 2024
       CR0048          2024.0     2024-02-20 CR0048 2024
       CR0049          2024.0     2024-01-16 CR0049 2024
       CR0051          2024.0     2024-01-11 CR0051 2024
       CR0052          2024.0     2024-01-09 CR0052 2024
       CR0053          2024.0     2024-01-16 CR0053 2024

âš ï¸  ATENCIÃ“N:
   â”œâ”€ Total actual: 521 registros
   â”œâ”€ Se eliminarÃ¡n: 97 registros
   â””â”€ Se mantendrÃ¡n: 424 registros (1 por contract)

ðŸš¨ ACTUALIZANDO TABLA...
âœ… TABLA ACTUALIZADA EXITOSAMENTE

ðŸ“Š Registros finales: 424

âœ“ Top 10 por aÃ±o mÃ¡s reciente:
contract_code  inventory_year        pkid
       CR0077            2025 CR0077 2025
       CR0100            2025 CR0100 2025
       CR0075            2025 CR0075 2025
       CR0076            2025 CR0076 2025
       CR0078            2025 CR0078 2025
       CR0092            2025 CR0092 2025
       CR0073            2025 CR0073 2025
       CR0074            2025 CR0074 2025
       CR0030            2025 CR0030 2025
       CR0102            2025 CR0102 2025

In [27]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

# Leer el Excel
excel_path = r"C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\inventory_metrics_current_latest.xlsx"

print("ðŸ“‚ Leyendo Excel...")
df = pd.read_excel(excel_path, sheet_name="Original_IMC")
print(f"ðŸ“Š Registros en Excel: {len(df)}")

# Verificar columnas
print(f"ðŸ” Columnas: {list(df.columns)}")

# RESTAURAR
print("ðŸš¨ RESTAURANDO masterdatabase.inventory_metrics_current...")

with engine.begin() as conn:
    conn.execute(text("TRUNCATE TABLE masterdatabase.inventory_metrics_current"))

# Insertar TODO desde el Excel
df.to_sql(
    "inventory_metrics_current",
    con=engine,
    schema="masterdatabase",
    if_exists="append",
    index=False
)

print("âœ… TABLA RESTAURADA DESDE EXCEL")

# Verificar
count = pd.read_sql("SELECT COUNT(*) as total FROM masterdatabase.inventory_metrics_current", engine)
print(f"ðŸ“Š Registros restaurados: {count.loc[0, 'total']}")

ðŸ’» Conectado a la base de datos helloworldtree
ðŸ“‚ Leyendo Excel...
ðŸ“Š Registros en Excel: 521
ðŸ” Columnas: ['rel_path', 'contract_code', 'planting_year', 'tree_age', 'inventory_year', 'inventory_date', 'survival', 'tht_mean', 'tht_std', 'mht_mean', 'mht_std', 'mht_pct_of_target', 'dbh_mean', 'dbh_std', 'noncom_dbh_count', 'dbh_pct_of_target', 'doyle_bf_mean', 'doyle_bf_std', 'doyle_bf_total', 'projected_dbh', 'projected_doyle_bf', 'pkid', 'progress', 'total_trees', 'mortality', 'planting_date', 'type_of_metric', 'contract_status', 'rn']
ðŸš¨ RESTAURANDO masterdatabase.inventory_metrics_current...

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "imc_unique_contract"
DETAIL:  Key (contract_code)=(CR0030) already exists.

[SQL: INSERT INTO masterdatabase.inventory_metrics_current (rel_path, contract_code, planting_year, tree_age, inventory_year, inventory_date, survival, tht_mean, tht_std, mht_mean, mht_std, mht_pct_of_target, dbh_mean, dbh_std, noncom_dbh_count, dbh_pct_of ... 330336 characters truncated ... lity__520)s, %(planting_date__520)s, %(type_of_metric__520)s, %(contract_status__520)s, %(rn__520)s)]
[parameters: {'planting_year__0': 2017.0, 'mht_pct_of_target__0': None, 'mortality__0': 0.1241, 'rel_path__0': None, 'mht_std__0': None, 'planting_date__0': datetime.datetime(2017, 7, 1, 0, 0), 'dbh_pct_of_target__0': None, 'tht_mean__0': 39.47, 'inventory_year__0': 2021.0, 'progress__0': 'OK', 'tree_age__0': '3 6/12', 'total_trees__0': 126.0, 'inventory_date__0': datetime.datetime(2021, 1, 1, 0, 0), 'type_of_metric__0': 'inventory', 'survival__0': 0.8759, 'projected_doyle_bf__0': None, 'doyle_bf_std__0': 5.14, 'dbh_std__0': 0.4, 'noncom_dbh_count__0': 126.0, 'doyle_bf_mean__0': 21.52, 'rn__0': 1, 'doyle_bf_total__0': 2712.02, 'tht_std__0': 13.27, 'pkid__0': 'CR0013 2021', 'dbh_mean__0': 0.97, 'contract_code__0': 'CR0013', 'mht_mean__0': None, 'projected_dbh__0': None, 'contract_status__0': 'Out of Program', 'planting_year__1': 2018.0, 'mht_pct_of_target__1': None, 'mortality__1': 0.0112, 'rel_path__1': None, 'mht_std__1': 13.35, 'planting_date__1': datetime.datetime(2018, 7, 1, 0, 0), 'dbh_pct_of_target__1': None, 'tht_mean__1': 47.89, 'inventory_year__1': 2021.0, 'progress__1': 'OK', 'tree_age__1': '2 6/12', 'total_trees__1': 89.0, 'inventory_date__1': datetime.datetime(2021, 1, 1, 0, 0), 'type_of_metric__1': 'inventory', 'survival__1': 0.9888, 'projected_doyle_bf__1': None, 'doyle_bf_std__1': 7.61, 'dbh_std__1': 0.6, 'noncom_dbh_count__1': 89.0, 'doyle_bf_mean__1': 18.7, 'rn__1': 1 ... 15009 parameters truncated ... 'inventory_year__519': None, 'progress__519': None, 'tree_age__519': None, 'total_trees__519': None, 'inventory_date__519': None, 'type_of_metric__519': None, 'survival__519': None, 'projected_doyle_bf__519': None, 'doyle_bf_std__519': None, 'dbh_std__519': None, 'noncom_dbh_count__519': None, 'doyle_bf_mean__519': None, 'rn__519': 1, 'doyle_bf_total__519': None, 'tht_std__519': None, 'pkid__519': None, 'dbh_mean__519': None, 'contract_code__519': 'CR0097', 'mht_mean__519': None, 'projected_dbh__519': None, 'contract_status__519': 'Out of Program', 'planting_year__520': None, 'mht_pct_of_target__520': None, 'mortality__520': None, 'rel_path__520': None, 'mht_std__520': None, 'planting_date__520': None, 'dbh_pct_of_target__520': None, 'tht_mean__520': None, 'inventory_year__520': None, 'progress__520': None, 'tree_age__520': None, 'total_trees__520': None, 'inventory_date__520': None, 'type_of_metric__520': None, 'survival__520': None, 'projected_doyle_bf__520': None, 'doyle_bf_std__520': None, 'dbh_std__520': None, 'noncom_dbh_count__520': None, 'doyle_bf_mean__520': None, 'rn__520': 1, 'doyle_bf_total__520': None, 'tht_std__520': None, 'pkid__520': None, 'dbh_mean__520': None, 'contract_code__520': 'US0060', 'mht_mean__520': None, 'projected_dbh__520': None, 'contract_status__520': 'Out of Program'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [28]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

# Leer el Excel
excel_path = r"C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\inventory_metrics_current_latest.xlsx"

print("ðŸ“‚ Leyendo Excel...")
df = pd.read_excel(excel_path, sheet_name="Original_IMC")
print(f"ðŸ“Š Registros en Excel: {len(df)}")
print(f"ðŸ“Š Contratos Ãºnicos: {df['contract_code'].nunique()}")

# Eliminar duplicados - mantener solo el mÃ¡s reciente por contrato
print("\nðŸ” Eliminando duplicados...")
df_sorted = df.sort_values(
    by=['contract_code', 'inventory_year', 'inventory_date', 'pkid'],
    ascending=[True, False, False, False],
    na_position='last'
)
df_unique = df_sorted.drop_duplicates(subset=['contract_code'], keep='first')

# Eliminar la columna 'rn' si existe (es solo para ordenamiento)
if 'rn' in df_unique.columns:
    df_unique = df_unique.drop(columns=['rn'])

print(f"ðŸ“Š DespuÃ©s de eliminar duplicados: {len(df_unique)} registros")

# RESTAURAR IMC
print("\nðŸš¨ RESTAURANDO masterdatabase.inventory_metrics_current...")

with engine.begin() as conn:
    # Eliminar constraint temporalmente
    print("ðŸ”“ Eliminando constraint temporalmente...")
    conn.execute(text("""
        ALTER TABLE masterdatabase.inventory_metrics_current
        DROP CONSTRAINT IF EXISTS imc_unique_contract
    """))

    print("ðŸ—‘ï¸ Vaciando tabla...")
    conn.execute(text("TRUNCATE TABLE masterdatabase.inventory_metrics_current CASCADE"))

# Insertar datos Ãºnicos
print("ðŸ“¥ Insertando datos Ãºnicos...")
df_unique.to_sql(
    "inventory_metrics_current",
    con=engine,
    schema="masterdatabase",
    if_exists="append",
    index=False
)

# Restaurar constraint
print("ðŸ”’ Restaurando constraint...")
with engine.begin() as conn:
    conn.execute(text("""
        ALTER TABLE masterdatabase.inventory_metrics_current
        ADD CONSTRAINT imc_unique_contract UNIQUE (contract_code)
    """))

print("\nâœ… TABLA RESTAURADA DESDE EXCEL")

# Verificar
count = pd.read_sql("SELECT COUNT(*) as total FROM masterdatabase.inventory_metrics_current", engine)
print(f"ðŸ“Š Registros restaurados: {count.loc[0, 'total']}")

# Verificar no hay duplicados
duplicates = pd.read_sql("""
    SELECT contract_code, COUNT(*) as count
    FROM masterdatabase.inventory_metrics_current
    GROUP BY contract_code
    HAVING COUNT(*) > 1
""", engine)
print(f"ðŸ“Š Contratos duplicados: {len(duplicates)}")

ðŸ’» Conectado a la base de datos helloworldtree
ðŸ“‚ Leyendo Excel...
ðŸ“Š Registros en Excel: 521
ðŸ“Š Contratos Ãºnicos: 424

ðŸ” Eliminando duplicados...
ðŸ“Š DespuÃ©s de eliminar duplicados: 424 registros

ðŸš¨ RESTAURANDO masterdatabase.inventory_metrics_current...
ðŸ”“ Eliminando constraint temporalmente...
ðŸ—‘ï¸ Vaciando tabla...
ðŸ“¥ Insertando datos Ãºnicos...
ðŸ”’ Restaurando constraint...

âœ… TABLA RESTAURADA DESDE EXCEL
ðŸ“Š Registros restaurados: 424
ðŸ“Š Contratos duplicados: 0

In [35]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

print("="*60)
print("ðŸ—‘ï¸ ELIMINANDO TRIGGER VIEJO")
print("="*60)

with engine.begin() as conn:
    print("ðŸ”§ Eliminando trigger sync_inventory_to_current...")
    conn.execute(text("""
        DROP TRIGGER IF EXISTS trigger_sync_inventory_to_current
        ON masterdatabase.inventory_metrics CASCADE
    """))

    print("ðŸ”§ Eliminando funciÃ³n sync_inventory_to_current...")
    conn.execute(text("""
        DROP FUNCTION IF EXISTS masterdatabase.sync_inventory_to_current() CASCADE
    """))

print("âœ… Trigger y funciÃ³n eliminados")

print("\n" + "="*60)
print("ðŸ”„ COPIANDO IMC â†’ IM (SIN TRIGGER)")
print("="*60)

# Obtener columnas de IM (sin las que estÃ¡n solo en IMC)
common_cols = pd.read_sql("""
    SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'masterdatabase'
      AND table_name = 'inventory_metrics'
    ORDER BY ordinal_position
""", engine)['column_name'].tolist()

cols_str = ', '.join(common_cols)

with engine.begin() as conn:
    print("\nðŸ—‘ï¸ Vaciando inventory_metrics...")
    conn.execute(text("TRUNCATE TABLE masterdatabase.inventory_metrics CASCADE"))

    print(f"ðŸ“¥ Copiando {len(common_cols)} columnas de IMC â†’ IM...")

    copy_sql = f"""
        INSERT INTO masterdatabase.inventory_metrics ({cols_str})
        SELECT {cols_str}
        FROM masterdatabase.inventory_metrics_current
    """

    conn.execute(text(copy_sql))

    im_count = conn.execute(text("""
        SELECT COUNT(*) FROM masterdatabase.inventory_metrics
    """)).scalar()
    print(f"   âœ… {im_count} registros copiados")

# Verificar
print("\nðŸ“Š VERIFICACIÃ“N...")
stats = pd.read_sql("""
    SELECT
        'inventory_metrics' as tabla,
        COUNT(*) as registros,
        COUNT(DISTINCT contract_code) as contratos_unicos
    FROM masterdatabase.inventory_metrics
    UNION ALL
    SELECT
        'inventory_metrics_current' as tabla,
        COUNT(*) as registros,
        COUNT(DISTINCT contract_code) as contratos_unicos
    FROM masterdatabase.inventory_metrics_current
""", engine)
print(stats.to_string(index=False))

print("\nâœ… Copia completada exitosamente")

ðŸ’» Conectado a la base de datos helloworldtree
============================================================
ðŸ—‘ï¸ ELIMINANDO TRIGGER VIEJO
============================================================
ðŸ”§ Eliminando trigger sync_inventory_to_current...
ðŸ”§ Eliminando funciÃ³n sync_inventory_to_current...
âœ… Trigger y funciÃ³n eliminados

============================================================
ðŸ”„ COPIANDO IMC â†’ IM (SIN TRIGGER)
============================================================

ðŸ—‘ï¸ Vaciando inventory_metrics...
ðŸ“¥ Copiando 27 columnas de IMC â†’ IM...
   âœ… 424 registros copiados

ðŸ“Š VERIFICACIÃ“N...
                    tabla  registros  contratos_unicos
        inventory_metrics        424               424
inventory_metrics_current        424               424

âœ… Copia completada exitosamente

In [36]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

print("="*60)
print("ðŸ”§ ARMONIZANDO TIPOS DE DATOS")
print("="*60)

# Ver tipos conflictivos
type_comparison = pd.read_sql("""
    SELECT
        im.column_name,
        im.data_type as im_type,
        imc.data_type as imc_type
    FROM information_schema.columns im
    JOIN information_schema.columns imc
        ON im.column_name = imc.column_name
    WHERE im.table_schema = 'masterdatabase'
      AND im.table_name = 'inventory_metrics'
      AND imc.table_schema = 'masterdatabase'
      AND imc.table_name = 'inventory_metrics_current'
      AND im.data_type != imc.data_type
    ORDER BY im.column_name
""", engine)

print(f"\nâŒ Columnas con tipos diferentes: {len(type_comparison)}")
if len(type_comparison) > 0:
    print(type_comparison.to_string(index=False))

# DecisiÃ³n: Como IM es la tabla histÃ³rica "oficial" y queremos que IMC
# tenga la misma estructura, vamos a cambiar IMC para que coincida con IM

print("\nðŸ”§ Ajustando tipos en inventory_metrics_current para que coincidan con inventory_metrics...")

with engine.begin() as conn:
    # Cambiar planting_year de text a double precision en IMC
    print("   ðŸ“ Cambiando planting_year: text â†’ double precision")
    conn.execute(text("""
        ALTER TABLE masterdatabase.inventory_metrics_current
        ALTER COLUMN planting_year TYPE double precision
        USING planting_year::double precision
    """))

    # Si hay otros tipos conflictivos, agregarlos aquÃ­
    # (basÃ¡ndonos en el output del query anterior)

print("âœ… Tipos armonizados")

# Verificar que ya no hay conflictos
print("\nðŸ” Verificando...")
type_check = pd.read_sql("""
    SELECT
        im.column_name,
        im.data_type as im_type,
        imc.data_type as imc_type
    FROM information_schema.columns im
    JOIN information_schema.columns imc
        ON im.column_name = imc.column_name
    WHERE im.table_schema = 'masterdatabase'
      AND im.table_name = 'inventory_metrics'
      AND imc.table_schema = 'masterdatabase'
      AND imc.table_name = 'inventory_metrics_current'
      AND im.data_type != imc.data_type
""", engine)

if len(type_check) == 0:
    print("âœ… Todos los tipos coinciden ahora")
else:
    print("âš ï¸ AÃºn hay tipos diferentes:")
    print(type_check.to_string(index=False))

print("\n" + "="*60)
print("ðŸ”„ COPIANDO IMC â†’ IM")
print("="*60)

# Obtener columnas comunes (sin rn y contract_status que no estÃ¡n en IM)
common_cols = pd.read_sql("""
    SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'masterdatabase'
      AND table_name = 'inventory_metrics'
    ORDER BY ordinal_position
""", engine)['column_name'].tolist()

cols_str = ', '.join(common_cols)

with engine.begin() as conn:
    print("\nðŸ—‘ï¸ Vaciando inventory_metrics...")
    conn.execute(text("TRUNCATE TABLE masterdatabase.inventory_metrics CASCADE"))

    print(f"ðŸ“¥ Copiando {len(common_cols)} columnas de IMC â†’ IM...")

    copy_sql = f"""
        INSERT INTO masterdatabase.inventory_metrics ({cols_str})
        SELECT {cols_str}
        FROM masterdatabase.inventory_metrics_current
    """

    conn.execute(text(copy_sql))

    im_count = conn.execute(text("""
        SELECT COUNT(*) FROM masterdatabase.inventory_metrics
    """)).scalar()
    print(f"   âœ… {im_count} registros copiados")

# Verificar
print("\nðŸ“Š VERIFICACIÃ“N...")
stats = pd.read_sql("""
    SELECT
        'inventory_metrics' as tabla,
        COUNT(*) as registros,
        COUNT(DISTINCT contract_code) as contratos_unicos
    FROM masterdatabase.inventory_metrics
    UNION ALL
    SELECT
        'inventory_metrics_current' as tabla,
        COUNT(*) as registros,
        COUNT(DISTINCT contract_code) as contratos_unicos
    FROM masterdatabase.inventory_metrics_current
""", engine)
print(stats.to_string(index=False))

print("\nâœ… Copia completada exitosamente")
print("ðŸ“ Siguiente paso: Recrear trigger de sincronizaciÃ³n")

ðŸ’» Conectado a la base de datos helloworldtree
============================================================
ðŸ”§ ARMONIZANDO TIPOS DE DATOS
============================================================

âŒ Columnas con tipos diferentes: 0

ðŸ”§ Ajustando tipos en inventory_metrics_current para que coincidan con inventory_metrics...
   ðŸ“ Cambiando planting_year: text â†’ double precision
âœ… Tipos armonizados

ðŸ” Verificando...
âœ… Todos los tipos coinciden ahora

============================================================
ðŸ”„ COPIANDO IMC â†’ IM
============================================================

ðŸ—‘ï¸ Vaciando inventory_metrics...
ðŸ“¥ Copiando 27 columnas de IMC â†’ IM...
   âœ… 424 registros copiados

ðŸ“Š VERIFICACIÃ“N...
                    tabla  registros  contratos_unicos
        inventory_metrics        424               424
inventory_metrics_current        424               424

âœ… Copia completada exitosamente
ðŸ“ Siguiente paso: Recrear trigger de sincronizaciÃ³n

In [32]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

print("="*60)
print("ðŸ” DIAGNOSTICANDO DIFERENCIAS DE ESTRUCTURA")
print("="*60)

# Ver columnas de cada tabla
im_cols = pd.read_sql("""
    SELECT column_name, data_type
    FROM information_schema.columns
    WHERE table_schema = 'masterdatabase'
      AND table_name = 'inventory_metrics'
    ORDER BY ordinal_position
""", engine)

imc_cols = pd.read_sql("""
    SELECT column_name, data_type
    FROM information_schema.columns
    WHERE table_schema = 'masterdatabase'
      AND table_name = 'inventory_metrics_current'
    ORDER BY ordinal_position
""", engine)

print(f"\nðŸ“Š inventory_metrics tiene {len(im_cols)} columnas")
print(f"ðŸ“Š inventory_metrics_current tiene {len(imc_cols)} columnas")

# Encontrar columnas comunes
common_cols = set(im_cols['column_name']) & set(imc_cols['column_name'])
only_in_im = set(im_cols['column_name']) - set(imc_cols['column_name'])
only_in_imc = set(imc_cols['column_name']) - set(im_cols['column_name'])

print(f"\nâœ… Columnas comunes: {len(common_cols)}")
if only_in_im:
    print(f"âš ï¸ Solo en IM: {', '.join(only_in_im)}")
if only_in_imc:
    print(f"âš ï¸ Solo en IMC: {', '.join(only_in_imc)}")

# Generar lista de columnas comunes ordenadas
common_cols_ordered = [col for col in im_cols['column_name'] if col in common_cols]
cols_str = ', '.join(common_cols_ordered)

print(f"\nðŸ”§ Usaremos estas {len(common_cols_ordered)} columnas comunes para la copia")

print("\n" + "="*60)
print("ðŸ”„ MIGRACIÃ“N CORREGIDA")
print("="*60)

with engine.begin() as conn:
    # Vaciar IM
    print("\nðŸ—‘ï¸ Vaciando inventory_metrics...")
    conn.execute(text("TRUNCATE TABLE masterdatabase.inventory_metrics CASCADE"))

    # Copiar solo columnas comunes
    print(f"ðŸ“¥ Copiando {len(common_cols_ordered)} columnas de IMC â†’ IM...")

    copy_sql = f"""
        INSERT INTO masterdatabase.inventory_metrics ({cols_str})
        SELECT {cols_str}
        FROM masterdatabase.inventory_metrics_current
    """

    conn.execute(text(copy_sql))

    im_count = conn.execute(text("""
        SELECT COUNT(*) FROM masterdatabase.inventory_metrics
    """)).scalar()
    print(f"   âœ… {im_count} registros copiados a inventory_metrics")

# Verificar
print("\nðŸ“Š VERIFICACIÃ“N...")
stats = pd.read_sql("""
    SELECT
        'inventory_metrics (histÃ³rica)' as tabla,
        COUNT(*) as registros,
        COUNT(DISTINCT contract_code) as contratos_unicos
    FROM masterdatabase.inventory_metrics
    UNION ALL
    SELECT
        'inventory_metrics_current' as tabla,
        COUNT(*) as registros,
        COUNT(DISTINCT contract_code) as contratos_unicos
    FROM masterdatabase.inventory_metrics_current
""", engine)
print(stats.to_string(index=False))

print("\nâœ… Copia completada. Ahora puedes ejecutar la parte 3ï¸âƒ£ del script anterior (recrear trigger)")

ðŸ’» Conectado a la base de datos helloworldtree
============================================================
ðŸ” DIAGNOSTICANDO DIFERENCIAS DE ESTRUCTURA
============================================================

ðŸ“Š inventory_metrics tiene 27 columnas
ðŸ“Š inventory_metrics_current tiene 29 columnas

âœ… Columnas comunes: 27
âš ï¸ Solo en IMC: rn, contract_status

ðŸ”§ Usaremos estas 27 columnas comunes para la copia

============================================================
ðŸ”„ MIGRACIÃ“N CORREGIDA
============================================================

ðŸ—‘ï¸ Vaciando inventory_metrics...
ðŸ“¥ Copiando 27 columnas de IMC â†’ IM...

ProgrammingError: (psycopg2.errors.DatatypeMismatch) column "planting_year" is of type double precision but expression is of type text
LINE 3: ..._trees, mortality, type_of_metric, planting_date, planting_y...
                                                             ^
HINT:  You will need to rewrite or cast the expression.

[SQL:
        INSERT INTO masterdatabase.inventory_metrics (rel_path, contract_code, tree_age, inventory_year, inventory_date, survival, tht_mean, tht_std, mht_mean, mht_std, mht_pct_of_target, dbh_mean, dbh_std, noncom_dbh_count, dbh_pct_of_target, doyle_bf_mean, doyle_bf_std, doyle_bf_total, projected_dbh, projected_doyle_bf, pkid, progress, total_trees, mortality, type_of_metric, planting_date, planting_year)
        SELECT rel_path, contract_code, tree_age, inventory_year, inventory_date, survival, tht_mean, tht_std, mht_mean, mht_std, mht_pct_of_target, dbh_mean, dbh_std, noncom_dbh_count, dbh_pct_of_target, doyle_bf_mean, doyle_bf_std, doyle_bf_total, projected_dbh, projected_doyle_bf, pkid, progress, total_trees, mortality, type_of_metric, planting_date, planting_year
        FROM masterdatabase.inventory_metrics_current
    ]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [37]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

print("="*60)
print("âš™ï¸ RECREANDO TRIGGER DE SINCRONIZACIÃ“N IM â†’ IMC")
print("="*60)

with engine.begin() as conn:
    print("\nðŸ”§ Creando funciÃ³n sync_inventory_to_current()...")
    conn.execute(text("""
        CREATE OR REPLACE FUNCTION masterdatabase.sync_inventory_to_current()
        RETURNS TRIGGER AS $$
        DECLARE
            latest_year integer;
            latest_date date;
            latest_pkid text;
        BEGIN
            -- Obtener el registro mÃ¡s reciente en IMC para este contrato
            SELECT inventory_year, inventory_date, pkid
            INTO latest_year, latest_date, latest_pkid
            FROM masterdatabase.inventory_metrics_current
            WHERE contract_code = NEW.contract_code
            LIMIT 1;

            -- Si no existe en IMC, insertamos
            IF latest_year IS NULL THEN
                INSERT INTO masterdatabase.inventory_metrics_current (
                    rel_path, contract_code, tree_age, inventory_year,
                    inventory_date, survival, tht_mean, tht_std, mht_mean,
                    mht_std, mht_pct_of_target, dbh_mean, dbh_std,
                    noncom_dbh_count, dbh_pct_of_target, doyle_bf_mean,
                    doyle_bf_std, doyle_bf_total, projected_dbh,
                    projected_doyle_bf, pkid, progress, total_trees,
                    mortality, type_of_metric, planting_date, planting_year
                )
                SELECT
                    rel_path, contract_code, tree_age, inventory_year,
                    inventory_date, survival, tht_mean, tht_std, mht_mean,
                    mht_std, mht_pct_of_target, dbh_mean, dbh_std,
                    noncom_dbh_count, dbh_pct_of_target, doyle_bf_mean,
                    doyle_bf_std, doyle_bf_total, projected_dbh,
                    projected_doyle_bf, pkid, progress, total_trees,
                    mortality, type_of_metric, planting_date, planting_year
                FROM masterdatabase.inventory_metrics
                WHERE pkid = NEW.pkid
                ON CONFLICT (contract_code) DO NOTHING;

                RAISE NOTICE 'ðŸ†• [IMC SYNC] Nuevo contrato % agregado (Year: %, Date: %)',
                             NEW.contract_code, NEW.inventory_year, NEW.inventory_date;
                RETURN NEW;
            END IF;

            -- Si el nuevo registro es mÃ¡s reciente, actualizamos
            IF (NEW.inventory_year > latest_year)
               OR (NEW.inventory_year = latest_year
                   AND COALESCE(NEW.inventory_date, '1900-01-01'::date) > COALESCE(latest_date, '1900-01-01'::date))
            THEN
                UPDATE masterdatabase.inventory_metrics_current
                SET
                    rel_path = NEW.rel_path,
                    tree_age = NEW.tree_age,
                    inventory_year = NEW.inventory_year,
                    inventory_date = NEW.inventory_date,
                    survival = NEW.survival,
                    tht_mean = NEW.tht_mean,
                    tht_std = NEW.tht_std,
                    mht_mean = NEW.mht_mean,
                    mht_std = NEW.mht_std,
                    mht_pct_of_target = NEW.mht_pct_of_target,
                    dbh_mean = NEW.dbh_mean,
                    dbh_std = NEW.dbh_std,
                    noncom_dbh_count = NEW.noncom_dbh_count,
                    dbh_pct_of_target = NEW.dbh_pct_of_target,
                    doyle_bf_mean = NEW.doyle_bf_mean,
                    doyle_bf_std = NEW.doyle_bf_std,
                    doyle_bf_total = NEW.doyle_bf_total,
                    projected_dbh = NEW.projected_dbh,
                    projected_doyle_bf = NEW.projected_doyle_bf,
                    pkid = NEW.pkid,
                    progress = NEW.progress,
                    total_trees = NEW.total_trees,
                    mortality = NEW.mortality,
                    type_of_metric = NEW.type_of_metric,
                    planting_date = NEW.planting_date,
                    planting_year = NEW.planting_year
                WHERE contract_code = NEW.contract_code;

                RAISE NOTICE 'â™»ï¸ [IMC SYNC] Contrato % actualizado | Anterior: %/% â†’ Nuevo: %/%',
                             NEW.contract_code,
                             latest_year, latest_date,
                             NEW.inventory_year, NEW.inventory_date;
            ELSE
                RAISE NOTICE 'â© [IMC SYNC] Inventario ignorado para %: %/% no es mÃ¡s reciente que %/%',
                             NEW.contract_code,
                             NEW.inventory_year, NEW.inventory_date,
                             latest_year, latest_date;
            END IF;

            RETURN NEW;
        END;
        $$ LANGUAGE plpgsql;
    """))

    print("ðŸ”§ Creando trigger...")
    conn.execute(text("""
        CREATE TRIGGER trigger_sync_inventory_to_current
        AFTER INSERT OR UPDATE ON masterdatabase.inventory_metrics
        FOR EACH ROW
        EXECUTE FUNCTION masterdatabase.sync_inventory_to_current()
    """))

print("âœ… FunciÃ³n y trigger creados correctamente")

# ============================================================
# VERIFICACIÃ“N
# ============================================================
print("\n" + "="*60)
print("âœ… VERIFICACIÃ“N FINAL")
print("="*60)

# Verificar que el trigger estÃ¡ instalado
trigger_check = pd.read_sql("""
    SELECT
        trigger_name,
        event_manipulation as event,
        event_object_table as table_name,
        action_statement
    FROM information_schema.triggers
    WHERE trigger_schema = 'masterdatabase'
      AND event_object_table = 'inventory_metrics'
      AND trigger_name = 'trigger_sync_inventory_to_current'
""", engine)

print("\nðŸ“‹ Trigger instalado:")
if len(trigger_check) > 0:
    for _, row in trigger_check.iterrows():
        print(f"   âœ… {row['trigger_name']} - Evento: {row['event']}")
else:
    print("   âŒ Trigger no encontrado")

# Verificar estado de las tablas
stats = pd.read_sql("""
    SELECT
        'inventory_metrics (histÃ³rica)' as tabla,
        COUNT(*) as registros,
        COUNT(DISTINCT contract_code) as contratos_unicos,
        MIN(inventory_year) as year_min,
        MAX(inventory_year) as year_max
    FROM masterdatabase.inventory_metrics
    UNION ALL
    SELECT
        'inventory_metrics_current' as tabla,
        COUNT(*) as registros,
        COUNT(DISTINCT contract_code) as contratos_unicos,
        MIN(inventory_year) as year_min,
        MAX(inventory_year) as year_max
    FROM masterdatabase.inventory_metrics_current
""", engine)

print("\nðŸ“Š Estado de las tablas:")
print(stats.to_string(index=False))

# Verificar que ambas tablas tienen los mismos contratos
sync_check = pd.read_sql("""
    WITH im_contracts AS (
        SELECT DISTINCT contract_code FROM masterdatabase.inventory_metrics
    ),
    imc_contracts AS (
        SELECT DISTINCT contract_code FROM masterdatabase.inventory_metrics_current
    )
    SELECT
        COUNT(*) as contratos_solo_en_im
    FROM im_contracts
    LEFT JOIN imc_contracts USING (contract_code)
    WHERE imc_contracts.contract_code IS NULL
""", engine)

solo_en_im = sync_check.loc[0, 'contratos_solo_en_im']
if solo_en_im == 0:
    print("\nâœ… Todos los contratos de IM estÃ¡n en IMC")
else:
    print(f"\nâš ï¸ Hay {solo_en_im} contratos en IM que no estÃ¡n en IMC")

print("\n" + "="*60)
print("ðŸŽ‰ MIGRACIÃ“N COMPLETADA EXITOSAMENTE")
print("="*60)

print("\nâœ… RESUMEN:")
print("   â€¢ inventory_metrics = Tabla histÃ³rica completa (424 registros)")
print("   â€¢ inventory_metrics_current = Registros mÃ¡s recientes por contrato (424 registros)")
print("   â€¢ Trigger activo: IM â†’ IMC automÃ¡tico")
print("   â€¢ Tipos de datos armonizados (planting_year = double precision)")
print("   â€¢ Constraint de unicidad en IMC por contract_code")

print("\nðŸ’¡ PRÃ“XIMOS PASOS:")
print("   1. âœ… Convertir survival_current en VIEW sobre IMC")
print("   2. âœ… Eliminar/convertir survival_timeseries")
print("   3. âœ… Actualizar reportes para usar las nuevas estructuras")
print("   4. âœ… Eliminar trigger CTI â†’ IMC (ya no es necesario)")

ðŸ’» Conectado a la base de datos helloworldtree
============================================================
âš™ï¸ RECREANDO TRIGGER DE SINCRONIZACIÃ“N IM â†’ IMC
============================================================

ðŸ”§ Creando funciÃ³n sync_inventory_to_current()...
ðŸ”§ Creando trigger...
âœ… FunciÃ³n y trigger creados correctamente

============================================================
âœ… VERIFICACIÃ“N FINAL
============================================================

ðŸ“‹ Trigger instalado:
   âœ… trigger_sync_inventory_to_current - Evento: INSERT
   âœ… trigger_sync_inventory_to_current - Evento: UPDATE

ðŸ“Š Estado de las tablas:
                        tabla  registros  contratos_unicos  year_min  year_max
inventory_metrics (histÃ³rica)        424               424      2021      2025
    inventory_metrics_current        424               424      2021      2025

âœ… Todos los contratos de IM estÃ¡n en IMC

============================================================
ðŸŽ‰ MIGRACIÃ“N COMPLETADA EXITOSAMENTE
============================================================

âœ… RESUMEN:
   â€¢ inventory_metrics = Tabla histÃ³rica completa (424 registros)
   â€¢ inventory_metrics_current = Registros mÃ¡s recientes por contrato (424 registros)
   â€¢ Trigger activo: IM â†’ IMC automÃ¡tico
   â€¢ Tipos de datos armonizados (planting_year = double precision)
   â€¢ Constraint de unicidad en IMC por contract_code

ðŸ’¡ PRÃ“XIMOS PASOS:
   1. âœ… Convertir survival_current en VIEW sobre IMC
   2. âœ… Eliminar/convertir survival_timeseries
   3. âœ… Actualizar reportes para usar las nuevas estructuras
   4. âœ… Eliminar trigger CTI â†’ IMC (ya no es necesario)

In [39]:
# ============================================================
# 5ï¸âƒ£ AUDITORÃA FINAL
# ============================================================
print("\n5ï¸âƒ£ AUDITORÃA FINAL...")

# Verificar que IM e IMC tienen los mismos contratos
audit = pd.read_sql("""
    WITH im_contracts AS (
        SELECT DISTINCT contract_code FROM masterdatabase.inventory_metrics
    ),
    imc_contracts AS (
        SELECT DISTINCT contract_code FROM masterdatabase.inventory_metrics_current
    )
    SELECT
        COALESCE(im.contract_code, imc.contract_code) as contract_code,
        CASE
            WHEN im.contract_code IS NULL THEN 'Solo en IMC'
            WHEN imc.contract_code IS NULL THEN 'Solo en IM'
            ELSE 'En ambas'
        END as status
    FROM im_contracts im
    FULL OUTER JOIN imc_contracts imc ON im.contract_code = imc.contract_code
    WHERE im.contract_code IS NULL OR imc.contract_code IS NULL
""", engine)

if len(audit) == 0:
    print("   âœ… Todos los contratos estÃ¡n sincronizados entre IM e IMC")
else:
    print("   âš ï¸ Contratos con discrepancias:")
    print(audit.to_string(index=False))

# Verificar duplicados en IM (deberÃ­a permitirlos - es histÃ³rica)
duplicates_im = pd.read_sql("""
    SELECT contract_code, COUNT(*) as count
    FROM masterdatabase.inventory_metrics
    GROUP BY contract_code
    HAVING COUNT(*) > 1
    ORDER BY count DESC
    LIMIT 5
""", engine)

if len(duplicates_im) > 0:
    print(f"\n   â„¹ï¸ IM tiene contratos con mÃºltiples inventarios (normal en tabla histÃ³rica):")
    print(f"   Ejemplo: {duplicates_im.iloc[0]['contract_code']} tiene {duplicates_im.iloc[0]['count']} registros")
else:
    print("\n   â„¹ï¸ IM tiene 1 registro por contrato (por ahora)")

# Verificar duplicados en IMC (NO debe tenerlos)
duplicates_imc = pd.read_sql("""
    SELECT contract_code, COUNT(*) as count
    FROM masterdatabase.inventory_metrics_current
    GROUP BY contract_code
    HAVING COUNT(*) > 1
""", engine)

if len(duplicates_imc) == 0:
    print("   âœ… IMC no tiene duplicados (correcto)")
else:
    print("   âŒ IMC tiene duplicados (ERROR):")
    print(duplicates_imc.to_string(index=False))

print("\n" + "="*60)
print("ðŸŽ‰ MIGRACIÃ“N COMPLETADA EXITOSAMENTE")
print("="*60)
print("\nðŸ“Š ESTADO FINAL:")
print("   âœ… inventory_metrics = Tabla histÃ³rica completa")
print("   âœ… inventory_metrics_current = Registros mÃ¡s recientes por contrato")
print("   âœ… Trigger activo: IM â†’ IMC automÃ¡tico")
print("   âœ… Constraint de unicidad en IMC")
print("\nðŸ’¡ PRÃ“XIMOS PASOS:")
print("   1. Convertir survival_current en VIEW sobre IMC")
print("   2. Eliminar/convertir survival_timeseries")
print("   3. Actualizar reportes para usar nuevas estructuras")

5ï¸âƒ£ AUDITORÃA FINAL...
   âœ… Todos los contratos estÃ¡n sincronizados entre IM e IMC

   â„¹ï¸ IM tiene 1 registro por contrato (por ahora)
   âœ… IMC no tiene duplicados (correcto)

============================================================
ðŸŽ‰ MIGRACIÃ“N COMPLETADA EXITOSAMENTE
============================================================

ðŸ“Š ESTADO FINAL:
   âœ… inventory_metrics = Tabla histÃ³rica completa
   âœ… inventory_metrics_current = Registros mÃ¡s recientes por contrato
   âœ… Trigger activo: IM â†’ IMC automÃ¡tico
   âœ… Constraint de unicidad en IMC

ðŸ’¡ PRÃ“XIMOS PASOS:
   1. Convertir survival_current en VIEW sobre IMC
   2. Eliminar/convertir survival_timeseries
   3. Actualizar reportes para usar nuevas estructuras

In [40]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

print("="*60)
print("ðŸ”„ CONVIRTIENDO survival_current EN VIEW")
print("="*60)

with engine.begin() as conn:
    # 1. Verificar quÃ© tipo de objeto es survival_current actualmente
    print("\nðŸ” Verificando tipo actual de survival_current...")
    current_type = pd.read_sql("""
        SELECT table_type
        FROM information_schema.tables
        WHERE table_schema = 'masterdatabase'
          AND table_name = 'survival_current'
    """, engine)

    if len(current_type) > 0:
        print(f"   Tipo actual: {current_type.loc[0, 'table_type']}")
    else:
        print("   âš ï¸ survival_current no existe")

    # 2. Respaldar si es tabla
    if len(current_type) > 0 and current_type.loc[0, 'table_type'] == 'BASE TABLE':
        print("\nðŸ“¦ Respaldando survival_current actual...")
        conn.execute(text("""
            DROP TABLE IF EXISTS masterdatabase.survival_current_backup CASCADE
        """))
        conn.execute(text("""
            CREATE TABLE masterdatabase.survival_current_backup AS
            SELECT *, NOW() as backup_date
            FROM masterdatabase.survival_current
        """))

        backup_count = conn.execute(text("""
            SELECT COUNT(*) FROM masterdatabase.survival_current_backup
        """)).scalar()
        print(f"   âœ… {backup_count} registros respaldados")

    # 3. Eliminar objeto actual (tabla o vista)
    print("\nðŸ—‘ï¸ Eliminando survival_current actual...")
    conn.execute(text("""
        DROP TABLE IF EXISTS masterdatabase.survival_current CASCADE
    """))
    conn.execute(text("""
        DROP VIEW IF EXISTS masterdatabase.survival_current CASCADE
    """))
    conn.execute(text("""
        DROP MATERIALIZED VIEW IF EXISTS masterdatabase.survival_current CASCADE
    """))

    # 4. Crear como VIEW que lee de IMC
    print("ðŸ—ï¸ Creando VIEW survival_current sobre IMC...")
    conn.execute(text("""
        CREATE OR REPLACE VIEW masterdatabase.survival_current AS
        SELECT
            contract_code,
            survival AS current_survival_pct,
            total_trees AS current_surviving_trees,
            CASE
                WHEN type_of_metric = 'placeholder' THEN 'Placeholder (IMC)'
                WHEN inventory_year IS NOT NULL THEN 'Inventory ' || inventory_year::text
                ELSE 'IMC (unspecified)'
            END AS survival_metric_source,
            inventory_year,
            inventory_date,
            mortality
        FROM masterdatabase.inventory_metrics_current
        WHERE survival IS NOT NULL;
    """))

print("âœ… survival_current convertida en VIEW")

# ============================================================
# VERIFICACIÃ“N
# ============================================================
print("\n" + "="*60)
print("ðŸ” VERIFICACIÃ“N")
print("="*60)

# Verificar que es una VIEW
view_check = pd.read_sql("""
    SELECT
        table_name,
        table_type
    FROM information_schema.tables
    WHERE table_schema = 'masterdatabase'
      AND table_name = 'survival_current'
""", engine)

if len(view_check) > 0:
    print(f"\nâœ… survival_current es ahora: {view_check.loc[0, 'table_type']}")
else:
    print("\nâŒ survival_current no existe")

# Contar registros
survival_stats = pd.read_sql("""
    SELECT
        COUNT(*) as total_registros,
        COUNT(DISTINCT contract_code) as contratos_unicos,
        COUNT(CASE WHEN current_survival_pct IS NOT NULL THEN 1 END) as con_survival,
        MIN(inventory_year) as year_min,
        MAX(inventory_year) as year_max
    FROM masterdatabase.survival_current
""", engine)

print(f"\nðŸ“Š EstadÃ­sticas de survival_current:")
print(f"   Total registros: {survival_stats.loc[0, 'total_registros']}")
print(f"   Contratos Ãºnicos: {survival_stats.loc[0, 'contratos_unicos']}")
print(f"   Con survival: {survival_stats.loc[0, 'con_survival']}")
print(f"   AÃ±os: {survival_stats.loc[0, 'year_min']} - {survival_stats.loc[0, 'year_max']}")

# Preview
print("\nðŸ“‹ Preview de survival_current (top 5):")
preview = pd.read_sql("""
    SELECT
        contract_code,
        current_survival_pct,
        current_surviving_trees,
        survival_metric_source,
        inventory_year
    FROM masterdatabase.survival_current
    ORDER BY inventory_year DESC NULLS LAST
    LIMIT 5
""", engine)
print(preview.to_string(index=False))

print("\nâœ… ConversiÃ³n completada exitosamente")

ðŸ’» Conectado a la base de datos helloworldtree
============================================================
ðŸ”„ CONVIRTIENDO survival_current EN VIEW
============================================================

ðŸ” Verificando tipo actual de survival_current...
   Tipo actual: BASE TABLE

ðŸ“¦ Respaldando survival_current actual...
   âœ… 428 registros respaldados

ðŸ—‘ï¸ Eliminando survival_current actual...
ðŸ—ï¸ Creando VIEW survival_current sobre IMC...
âœ… survival_current convertida en VIEW

============================================================
ðŸ” VERIFICACIÃ“N
============================================================

âœ… survival_current es ahora: VIEW

ðŸ“Š EstadÃ­sticas de survival_current:
   Total registros: 198
   Contratos Ãºnicos: 198
   Con survival: 198
   AÃ±os: 2021 - 2025

ðŸ“‹ Preview de survival_current (top 5):
contract_code current_survival_pct  current_surviving_trees survival_metric_source  inventory_year
       CR0074               0.7089                    112.0         Inventory 2025            2025
       CR0075               0.7857                     76.0         Inventory 2025            2025
       CR0030               0.6234                     48.0         Inventory 2025            2025
       CR0073               0.9714                    102.0         Inventory 2025            2025
       CR0076               0.9926                    134.0         Inventory 2025            2025

âœ… ConversiÃ³n completada exitosamente

In [42]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

print("="*60)
print("ðŸ§¹ LIMPIANDO TRIGGERS OBSOLETOS")
print("="*60)

# Listar todos los triggers
all_triggers = pd.read_sql("""
    SELECT
        event_object_table as tabla,
        trigger_name,
        event_manipulation as evento
    FROM information_schema.triggers
    WHERE trigger_schema = 'masterdatabase'
    ORDER BY event_object_table, trigger_name
""", engine)

print("\nðŸ“‹ Triggers actuales en masterdatabase:")
if len(all_triggers) > 0:
    print(all_triggers.to_string(index=False))
else:
    print("   â„¹ï¸ No hay triggers")

# Buscar triggers en CTI
cti_triggers = all_triggers[all_triggers['tabla'] == 'contract_tree_information']

if len(cti_triggers) > 0:
    print(f"\nâš ï¸ Se encontraron {len(cti_triggers)} trigger(s) en contract_tree_information:")
    print(cti_triggers.to_string(index=False))

    print("\nðŸ’¡ Arquitectura actual:")
    print("   CTI (manual) â†’ IM (trigger) â†’ IMC")
    print("\nðŸ’¡ Los triggers CTI â†’ IMC directos ya no son necesarios")

    with engine.begin() as conn:
        print("\nðŸ—‘ï¸ Eliminando triggers obsoletos de CTI...")
        for trigger_name in cti_triggers['trigger_name']:
            # Eliminar trigger
            conn.execute(text(f"""
                DROP TRIGGER IF EXISTS {trigger_name}
                ON masterdatabase.contract_tree_information CASCADE
            """))
            print(f"   âœ… Trigger eliminado: {trigger_name}")

            # Intentar eliminar funciÃ³n asociada
            func_name = trigger_name.replace('trigger_', '')
            try:
                conn.execute(text(f"""
                    DROP FUNCTION IF EXISTS masterdatabase.{func_name}() CASCADE
                """))
                print(f"   âœ… FunciÃ³n eliminada: {func_name}()")
            except:
                pass
else:
    print("\nâœ… No hay triggers en contract_tree_information (perfecto)")

# Verificar triggers finales
print("\n" + "="*60)
print("âœ… VERIFICACIÃ“N FINAL DE TRIGGERS")
print("="*60)

final_triggers = pd.read_sql("""
    SELECT
        event_object_table as tabla,
        trigger_name,
        event_manipulation as evento
    FROM information_schema.triggers
    WHERE trigger_schema = 'masterdatabase'
    ORDER BY event_object_table, trigger_name
""", engine)

print("\nðŸ“‹ Triggers que quedan (deberÃ­an ser solo IM â†’ IMC):")
if len(final_triggers) > 0:
    print(final_triggers.to_string(index=False))
else:
    print("   âš ï¸ No hay triggers (deberÃ­a haber IM â†’ IMC)")

print("\nâœ… Limpieza completada")

ðŸ’» Conectado a la base de datos helloworldtree
============================================================
ðŸ§¹ LIMPIANDO TRIGGERS OBSOLETOS
============================================================

ðŸ“‹ Triggers actuales en masterdatabase:
                    tabla                      trigger_name evento
contract_tree_information                     trg_cti_to_ca INSERT
contract_tree_information               trigger_sync_to_imc INSERT
        inventory_metrics trigger_sync_inventory_to_current INSERT
        inventory_metrics trigger_sync_inventory_to_current UPDATE

âš ï¸ Se encontraron 2 trigger(s) en contract_tree_information:
                    tabla        trigger_name evento
contract_tree_information       trg_cti_to_ca INSERT
contract_tree_information trigger_sync_to_imc INSERT

ðŸ’¡ Arquitectura actual:
   CTI (manual) â†’ IM (trigger) â†’ IMC

ðŸ’¡ Los triggers CTI â†’ IMC directos ya no son necesarios

ðŸ—‘ï¸ Eliminando triggers obsoletos de CTI...
   âœ… Trigger eliminado: trg_cti_to_ca
   âœ… FunciÃ³n eliminada: trg_cti_to_ca()
   âœ… Trigger eliminado: trigger_sync_to_imc
   âœ… FunciÃ³n eliminada: sync_to_imc()

============================================================
âœ… VERIFICACIÃ“N FINAL DE TRIGGERS
============================================================

ðŸ“‹ Triggers que quedan (deberÃ­an ser solo IM â†’ IMC):
            tabla                      trigger_name evento
inventory_metrics trigger_sync_inventory_to_current INSERT
inventory_metrics trigger_sync_inventory_to_current UPDATE

âœ… Limpieza completada

In [43]:
print("\n" + "="*60)
print("ðŸ§¹ LIMPIANDO TRIGGERS OBSOLETOS")
print("="*60)

# Listar todos los triggers actuales
all_triggers = pd.read_sql("""
    SELECT
        event_object_table as tabla,
        trigger_name,
        event_manipulation as evento,
        action_statement
    FROM information_schema.triggers
    WHERE trigger_schema = 'masterdatabase'
    ORDER BY event_object_table, trigger_name
""", engine)

print("\nðŸ“‹ Triggers actuales en masterdatabase:")
if len(all_triggers) > 0:
    print(all_triggers[['tabla', 'trigger_name', 'evento']].to_string(index=False))
else:
    print("   â„¹ï¸ No hay triggers")

# Buscar especÃ­ficamente triggers en CTI
cti_triggers = all_triggers[all_triggers['tabla'] == 'contract_tree_information']

if len(cti_triggers) > 0:
    print(f"\nâš ï¸ Se encontraron {len(cti_triggers)} trigger(s) en contract_tree_information:")
    print(cti_triggers[['trigger_name', 'evento']].to_string(index=False))

    # Preguntar si eliminar
    print("\nðŸ’¡ Estos triggers podrÃ­an estar sincronizando CTI â†’ IMC (ya no necesario)")
    print("   Ahora usamos: CTI â†’ IM â†’ IMC (con trigger automÃ¡tico)")

    # Mostrar detalles de cada trigger
    for _, trigger in cti_triggers.iterrows():
        print(f"\nðŸ“ Trigger: {trigger['trigger_name']}")
        # Intentar extraer info del action_statement
        if 'inventory_metrics_current' in trigger['action_statement']:
            print("   âš ï¸ Este trigger menciona inventory_metrics_current")
            print("   ðŸ—‘ï¸ DeberÃ­a eliminarse (arquitectura obsoleta)")

    with engine.begin() as conn:
        print("\nðŸ—‘ï¸ Eliminando triggers obsoletos de CTI...")
        for trigger_name in cti_triggers['trigger_name']:
            conn.execute(text(f"""
                DROP TRIGGER IF EXISTS {trigger_name}
                ON masterdatabase.contract_tree_information CASCADE
            """))
            print(f"   âœ… Eliminado: {trigger_name}")

            # Eliminar tambiÃ©n la funciÃ³n si existe
            func_name = trigger_name.replace('trigger_', '')
            conn.execute(text(f"""
                DROP FUNCTION IF EXISTS masterdatabase.{func_name}() CASCADE
            """))
else:
    print("\nâœ… No hay triggers en contract_tree_information")

print("\nâœ… Limpieza de triggers completada")

============================================================
ðŸ§¹ LIMPIANDO TRIGGERS OBSOLETOS
============================================================

ðŸ“‹ Triggers actuales en masterdatabase:
            tabla                      trigger_name evento
inventory_metrics trigger_sync_inventory_to_current INSERT
inventory_metrics trigger_sync_inventory_to_current UPDATE

âœ… No hay triggers en contract_tree_information

âœ… Limpieza de triggers completada

In [47]:
from core.db import get_engine
from core.libs import pd
from sqlalchemy import text

engine = get_engine()

print("="*70)
print("ðŸ” AUDITORÃA COMPLETA DE ARQUITECTURA - MASTERDATABASE")
print("="*70)

# ============================================================
# 1ï¸âƒ£ TABLAS Y VISTAS
# ============================================================
print("\n" + "="*70)
print("1ï¸âƒ£ TABLAS Y VISTAS")
print("="*70)

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            table_name,
            table_type
        FROM information_schema.tables
        WHERE table_schema = 'masterdatabase'
          AND table_name IN (
              'contract_tree_information',
              'inventory_metrics',
              'inventory_metrics_current',
              'survival_current',
              'survival_timeseries',
              'farmer_personal_information',
              'contract_allocation'
          )
        ORDER BY
            CASE table_type
                WHEN 'BASE TABLE' THEN 1
                WHEN 'VIEW' THEN 2
                ELSE 3
            END,
            table_name
    """))
    tables_views = pd.DataFrame(result.fetchall(), columns=result.keys())

print("\nðŸ“Š Objetos principales:")
print(tables_views.to_string(index=False))

# Contar registros
print("\nðŸ“ˆ Conteo de registros:")
for _, row in tables_views.iterrows():
    if row['table_type'] in ['BASE TABLE', 'VIEW']:
        try:
            with engine.connect() as conn:
                result = conn.execute(text(f"SELECT COUNT(*) as total FROM masterdatabase.{row['table_name']}"))
                count = result.fetchone()[0]
            print(f"   {row['table_name']:<35} {count:>6} registros")
        except Exception as e:
            print(f"   {row['table_name']:<35} ERROR")

# ============================================================
# 2ï¸âƒ£ TRIGGERS
# ============================================================
print("\n" + "="*70)
print("2ï¸âƒ£ TRIGGERS ACTIVOS")
print("="*70)

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            t.event_object_table as tabla_origen,
            t.trigger_name,
            t.event_manipulation as evento,
            t.action_timing as momento
        FROM information_schema.triggers t
        WHERE t.trigger_schema = 'masterdatabase'
        ORDER BY t.event_object_table, t.trigger_name
    """))
    triggers = pd.DataFrame(result.fetchall(), columns=result.keys())

if len(triggers) > 0:
    print("\nâš™ï¸ Triggers encontrados:")
    print(triggers.to_string(index=False))

    print("\nðŸ“‹ AnÃ¡lisis por tabla:")
    for tabla in triggers['tabla_origen'].unique():
        tabla_triggers = triggers[triggers['tabla_origen'] == tabla]
        print(f"\n   ðŸ“ {tabla}:")
        for _, trig in tabla_triggers.iterrows():
            print(f"      â†’ {trig['evento']} ejecuta {trig['trigger_name']}")
else:
    print("\nâš ï¸ No se encontraron triggers activos")

# ============================================================
# 3ï¸âƒ£ FUNCIONES DE TRIGGERS
# ============================================================
print("\n" + "="*70)
print("3ï¸âƒ£ FUNCIONES DE SINCRONIZACIÃ“N")
print("="*70)

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            p.proname as nombre_funcion,
            pg_get_function_identity_arguments(p.oid) as argumentos
        FROM pg_proc p
        JOIN pg_namespace n ON p.pronamespace = n.oid
        WHERE n.nspname = 'masterdatabase'
          AND (p.proname LIKE '%sync%' OR p.proname LIKE '%trigger%')
        ORDER BY p.proname
    """))
    functions = pd.DataFrame(result.fetchall(), columns=result.keys())

if len(functions) > 0:
    print(f"\nðŸ”§ Funciones encontradas: {len(functions)}")
    for _, func in functions.iterrows():
        print(f"   - {func['nombre_funcion']}({func['argumentos']})")
else:
    print("\nâ„¹ï¸ No se encontraron funciones de sincronizaciÃ³n")

# ============================================================
# 4ï¸âƒ£ CONSTRAINTS
# ============================================================
print("\n" + "="*70)
print("4ï¸âƒ£ CONSTRAINTS PRINCIPALES")
print("="*70)

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            tc.table_name,
            tc.constraint_name,
            tc.constraint_type,
            string_agg(kcu.column_name, ', ') as columnas
        FROM information_schema.table_constraints tc
        LEFT JOIN information_schema.key_column_usage kcu
            ON tc.constraint_name = kcu.constraint_name
            AND tc.table_schema = kcu.table_schema
        WHERE tc.table_schema = 'masterdatabase'
          AND tc.table_name IN (
              'contract_tree_information',
              'inventory_metrics',
              'inventory_metrics_current'
          )
        GROUP BY tc.table_name, tc.constraint_name, tc.constraint_type
        ORDER BY tc.table_name, tc.constraint_type
    """))
    constraints = pd.DataFrame(result.fetchall(), columns=result.keys())

if len(constraints) > 0:
    print("\nðŸ”— Constraints por tabla:")
    for tabla in constraints['table_name'].unique():
        tabla_constraints = constraints[constraints['table_name'] == tabla]
        print(f"\n   ðŸ“ {tabla}:")
        for _, cons in tabla_constraints.iterrows():
            print(f"      {cons['constraint_type']}: {cons['constraint_name']} en ({cons['columnas']})")
else:
    print("\nâ„¹ï¸ No se encontraron constraints")

# ============================================================
# 5ï¸âƒ£ ÃNDICES
# ============================================================
print("\n" + "="*70)
print("5ï¸âƒ£ ÃNDICES PRINCIPALES")
print("="*70)

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            tablename,
            indexname,
            indexdef
        FROM pg_indexes
        WHERE schemaname = 'masterdatabase'
          AND tablename IN (
              'contract_tree_information',
              'inventory_metrics',
              'inventory_metrics_current'
          )
        ORDER BY tablename, indexname
    """))
    indexes = pd.DataFrame(result.fetchall(), columns=result.keys())

if len(indexes) > 0:
    print("\nðŸ“‘ Ãndices por tabla:")
    for tabla in indexes['tablename'].unique():
        tabla_indexes = indexes[indexes['tablename'] == tabla]
        print(f"\n   ðŸ“ {tabla}: ({len(tabla_indexes)} Ã­ndices)")
        for _, idx in tabla_indexes.iterrows():
            print(f"      - {idx['indexname']}")
else:
    print("\nâ„¹ï¸ No se encontraron Ã­ndices")

# ============================================================
# 6ï¸âƒ£ VISTAS Y SUS DEPENDENCIAS
# ============================================================
print("\n" + "="*70)
print("6ï¸âƒ£ VISTAS")
print("="*70)

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT
            table_name as vista,
            view_definition
        FROM information_schema.views
        WHERE table_schema = 'masterdatabase'
          AND table_name = 'survival_current'
    """))
    views = pd.DataFrame(result.fetchall(), columns=result.keys())

if len(views) > 0:
    print("\nðŸ‘ï¸ Vistas activas:")
    for _, view in views.iterrows():
        print(f"\n   ðŸ“Š {view['vista']}:")
        definition = view['view_definition'].lower()

        # Extraer tablas referenciadas
        tables_ref = []
        if 'inventory_metrics_current' in definition:
            tables_ref.append('inventory_metrics_current')
        if 'inventory_metrics' in definition and 'inventory_metrics_current' not in definition:
            tables_ref.append('inventory_metrics')

        if tables_ref:
            print("      Depende de:")
            for table in tables_ref:
                print(f"         - {table}")
else:
    print("\nâ„¹ï¸ No se encontraron vistas")

# ============================================================
# 7ï¸âƒ£ VERIFICACIÃ“N DE ARQUITECTURA
# ============================================================
print("\n" + "="*70)
print("7ï¸âƒ£ VERIFICACIÃ“N DE ARQUITECTURA")
print("="*70)

print("""
ðŸ“ ARQUITECTURA ESPERADA:

   CTI (manual) â†’ IM (histÃ³rica) â†’[trigger]â†’ IMC (current) â†’[VIEW]â†’ survival_current
""")

print("\nðŸ” Estado actual:")

# 1. Trigger IM â†’ IMC
im_trigger = triggers[triggers['tabla_origen'] == 'inventory_metrics']
if len(im_trigger) > 0:
    print("   âœ… Trigger IM â†’ IMC presente")
    for _, t in im_trigger.iterrows():
        print(f"      â””â”€ {t['trigger_name']} ({t['evento']})")
else:
    print("   âŒ Trigger IM â†’ IMC FALTANTE")

# 2. survival_current es VIEW
sc_is_view = tables_views[
    (tables_views['table_name'] == 'survival_current') &
    (tables_views['table_type'] == 'VIEW')
]
if len(sc_is_view) > 0:
    print("   âœ… survival_current es VIEW")
else:
    print("   âŒ survival_current NO es VIEW")

# 3. No hay triggers en CTI
cti_triggers = triggers[triggers['tabla_origen'] == 'contract_tree_information']
if len(cti_triggers) == 0:
    print("   âœ… No hay triggers en CTI (correcto)")
else:
    print(f"   âš ï¸ Hay {len(cti_triggers)} trigger(s) en CTI:")
    for _, t in cti_triggers.iterrows():
        print(f"      â””â”€ {t['trigger_name']} (verificar si es obsoleto)")

# 4. IMC tiene UNIQUE
imc_unique = constraints[
    (constraints['table_name'] == 'inventory_metrics_current') &
    (constraints['constraint_type'] == 'UNIQUE')
]
if len(imc_unique) > 0:
    print("   âœ… IMC tiene UNIQUE constraint")
else:
    print("   âš ï¸ IMC sin UNIQUE constraint")

# 5. Conteos de registros
with engine.connect() as conn:
    im_count = conn.execute(text("SELECT COUNT(*) FROM masterdatabase.inventory_metrics")).fetchone()[0]
    imc_count = conn.execute(text("SELECT COUNT(*) FROM masterdatabase.inventory_metrics_current")).fetchone()[0]
    sc_count = conn.execute(text("SELECT COUNT(*) FROM masterdatabase.survival_current")).fetchone()[0]

print(f"\nðŸ“Š Conteos:")
print(f"   - inventory_metrics: {im_count}")
print(f"   - inventory_metrics_current: {imc_count}")
print(f"   - survival_current (VIEW): {sc_count}")

if im_count == imc_count:
    print("   âœ… IM e IMC tienen misma cantidad (sincronizadas)")
else:
    print(f"   â„¹ï¸ IM tiene {im_count - imc_count} registros mÃ¡s que IMC (normal si hay histÃ³ricos)")

print("\n" + "="*70)
print("âœ… AUDITORÃA COMPLETADA")
print("="*70)

ðŸ’» Conectado a la base de datos helloworldtree
======================================================================
ðŸ” AUDITORÃA COMPLETA DE ARQUITECTURA - MASTERDATABASE
======================================================================

======================================================================
1ï¸âƒ£ TABLAS Y VISTAS
======================================================================

ðŸ“Š Objetos principales:
                 table_name table_type
        contract_allocation BASE TABLE
  contract_tree_information BASE TABLE
farmer_personal_information BASE TABLE
          inventory_metrics BASE TABLE
  inventory_metrics_current BASE TABLE
           survival_current       VIEW

ðŸ“ˆ Conteo de registros:
   contract_allocation                    462 registros
   contract_tree_information              462 registros
   farmer_personal_information            385 registros
   inventory_metrics                      424 registros
   inventory_metrics_current              424 registros
   survival_current                       198 registros

======================================================================
2ï¸âƒ£ TRIGGERS ACTIVOS
======================================================================

âš™ï¸ Triggers encontrados:
     tabla_origen                      trigger_name evento momento
inventory_metrics trigger_sync_inventory_to_current INSERT   AFTER
inventory_metrics trigger_sync_inventory_to_current UPDATE   AFTER

ðŸ“‹ AnÃ¡lisis por tabla:

   ðŸ“ inventory_metrics:
      â†’ INSERT ejecuta trigger_sync_inventory_to_current
      â†’ UPDATE ejecuta trigger_sync_inventory_to_current

======================================================================
3ï¸âƒ£ FUNCIONES DE SINCRONIZACIÃ“N
======================================================================

ðŸ”§ Funciones encontradas: 1
   - sync_inventory_to_current()

======================================================================
4ï¸âƒ£ CONSTRAINTS PRINCIPALES
======================================================================

ðŸ”— Constraints por tabla:

   ðŸ“ contract_tree_information:
      CHECK: 77097_79250_2_not_null en (None)
      CHECK: cti_trees_contract_nn en (None)
      PRIMARY KEY: cti_pkey en (contract_code)

   ðŸ“ inventory_metrics_current:
      UNIQUE: imc_unique_contract en (contract_code)

======================================================================
5ï¸âƒ£ ÃNDICES PRINCIPALES
======================================================================

ðŸ“‘ Ãndices por tabla:

   ðŸ“ contract_tree_information: (2 Ã­ndices)
      - cti_pkey
      - idx_cti_contract_code

   ðŸ“ inventory_metrics_current: (4 Ã­ndices)
      - imc_contract_code_idx
      - imc_inventory_date_idx
      - imc_inventory_year_idx
      - imc_unique_contract

======================================================================
6ï¸âƒ£ VISTAS
======================================================================

ðŸ‘ï¸ Vistas activas:

   ðŸ“Š survival_current:
      Depende de:
         - inventory_metrics_current

======================================================================
7ï¸âƒ£ VERIFICACIÃ“N DE ARQUITECTURA
======================================================================

ðŸ“ ARQUITECTURA ESPERADA:

   CTI (manual) â†’ IM (histÃ³rica) â†’[trigger]â†’ IMC (current) â†’[VIEW]â†’ survival_current


ðŸ” Estado actual:
   âœ… Trigger IM â†’ IMC presente
      â””â”€ trigger_sync_inventory_to_current (INSERT)
      â””â”€ trigger_sync_inventory_to_current (UPDATE)
   âœ… survival_current es VIEW
   âœ… No hay triggers en CTI (correcto)
   âœ… IMC tiene UNIQUE constraint

ðŸ“Š Conteos:
   - inventory_metrics: 424
   - inventory_metrics_current: 424
   - survival_current (VIEW): 198
   âœ… IM e IMC tienen misma cantidad (sincronizadas)

======================================================================
âœ… AUDITORÃA COMPLETADA
======================================================================

In [46]:
from core.db import get_engine
from sqlalchemy import text

engine = get_engine()

print("ðŸ§¹ Eliminando funciÃ³n obsoleta...")

with engine.begin() as conn:
    conn.execute(text("""
        DROP FUNCTION IF EXISTS masterdatabase.sync_contract_to_imc() CASCADE
    """))
    print("âœ… sync_contract_to_imc() eliminada")

# Verificar
with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT p.proname
        FROM pg_proc p
        JOIN pg_namespace n ON p.pronamespace = n.oid
        WHERE n.nspname = 'masterdatabase'
          AND p.proname LIKE '%sync%'
    """))
    functions = result.fetchall()

print("\nðŸ“‹ Funciones restantes:")
for func in functions:
    print(f"   - {func[0]}()")

print("\nâœ… LIMPIEZA COMPLETADA")

ðŸ’» Conectado a la base de datos helloworldtree
ðŸ§¹ Eliminando funciÃ³n obsoleta...
âœ… sync_contract_to_imc() eliminada

ðŸ“‹ Funciones restantes:
   - sync_inventory_to_current()

âœ… LIMPIEZA COMPLETADA

# ==============================================================
# ðŸ”— SECCIÃ“N: RELACIONES FPI (farmer_personal_information)
# ==============================================================

print("======================================================================")
print("ðŸ” RELACIONES FPI â†’ CONTRACT HEADER â†’ MISSING FIELDS")
print("======================================================================")

In [49]:
# ==============================================================
# 1ï¸âƒ£ VISTA AUXILIAR - EXPANSIÃ“N DE CONTRACT_CODES
# ==============================================================

with engine.begin() as conn:
    conn.exec_driver_sql("""
        CREATE OR REPLACE VIEW masterdatabase.vw_fpi_contracts AS
        SELECT
            fpi.farmer_number,
            unnest(fpi.contract_codes) AS contract_code
        FROM masterdatabase.farmer_personal_information fpi;
    """)
print("âœ… Vista creada/actualizada: masterdatabase.vw_fpi_contracts")

# ==============================================================
# 2ï¸âƒ£ AUDITORÃA DE RELACIONES
# ==============================================================

print("\nðŸ“‹ VerificaciÃ³n de correspondencias...")

query_relations = """
SELECT
    COUNT(DISTINCT fpi.farmer_number)          AS total_farmers,
    COUNT(DISTINCT ch.contract_code)           AS total_contracts,
    COUNT(DISTINCT v.contract_code)            AS linked_contracts,
    (COUNT(DISTINCT ch.contract_code) - COUNT(DISTINCT v.contract_code)) AS unlinked_contracts
FROM masterdatabase.contract_header ch
LEFT JOIN masterdatabase.vw_fpi_contracts v USING (contract_code)
LEFT JOIN masterdatabase.farmer_personal_information fpi
       ON fpi.farmer_number = ch.farmer_number;
"""
df_relations = pd.read_sql(query_relations, engine)
display(df_relations)

# ==============================================================
# 3ï¸âƒ£ LISTADO DE CONTRATOS SIN VÃNCULO EN FPI
# ==============================================================

print("\nðŸš¨ Contratos sin correspondencia en FPI:")

query_missing = """
SELECT ch.contract_code, ch.farmer_number, ch.contract_name
FROM masterdatabase.contract_header ch
LEFT JOIN masterdatabase.vw_fpi_contracts v USING (contract_code)
WHERE v.contract_code IS NULL
ORDER BY ch.contract_code;
"""
df_missing = pd.read_sql(query_missing, engine)
display(df_missing)

# ==============================================================
# 4ï¸âƒ£ INTEGRACIÃ“N CON CFI_MISSING_FIELDS (VALIDACIÃ“N COMPLEMENTARIA)
# ==============================================================

print("\nðŸ“Ž Campos faltantes por contrato y su farmer asociado:")

query_cfi = """
SELECT
    cmf.contract_code,
    cmf.field,
    fpi.representative,
    fpi.email,
    fpi.farmer_number
FROM masterdatabase.cfi_missing_fields cmf
LEFT JOIN masterdatabase.vw_fpi_contracts v USING (contract_code)
LEFT JOIN masterdatabase.farmer_personal_information fpi USING (farmer_number)
ORDER BY cmf.contract_code, cmf.field;
"""
df_cfi = pd.read_sql(query_cfi, engine)
display(df_cfi)

print("\n======================================================================")
print("âœ… RELACIONES FPI - AUDITORÃA COMPLETADA")
print("======================================================================")

âœ… Vista creada/actualizada: masterdatabase.vw_fpi_contracts

ðŸ“‹ VerificaciÃ³n de correspondencias...

   total_farmers  total_contracts  linked_contracts  unlinked_contracts
0            357              421               421                   0

ðŸš¨ Contratos sin correspondencia en FPI:

Empty DataFrame
Columns: [contract_code, farmer_number, contract_name]
Index: []

ðŸ“Ž Campos faltantes por contrato y su farmer asociado:

,contract_code,field,representative,email,farmer_number
0,MX0053,address,None,NA,40048
1,MX0053,email,None,NA,40048
2,MX0053,phone,None,NA,40048
3,MX0053,representative,None,NA,40048
4,MX0054,address,None,NA,40049
5,MX0054,email,None,NA,40049
6,MX0054,representative,None,NA,40049
7,MX0055,address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40050
8,MX0055,phone,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40050
9,MX0055,shipping_address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40050
10,MX0056,address,None,NA,40051
11,MX0056,email,None,NA,40051
12,MX0056,representative,None,NA,40051
13,MX0057,address,None,NA,40052
14,MX0057,email,None,NA,40052
15,MX0057,phone,None,NA,40052
16,MX0057,representative,None,NA,40052
17,MX0058,address,None,NA,40053
18,MX0058,email,None,NA,40053
19,MX0058,phone,None,NA,40053
20,MX0058,representative,None,NA,40053
21,MX0058,shipping_address,None,NA,40053
22,MX0059,address,None,NA,40054
23,MX0059,email,None,NA,40054
24,MX0059,representative,None,NA,40054
25,MX0060,address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40055
26,MX0060,phone,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40055
27,MX0060,shipping_address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40055
28,MX0061,address,None,eddiel279@hotmail.com,40056
29,MX0061,representative,None,eddiel279@hotmail.com,40056
30,MX0062,address,Justino Cruz,greenway.stonemasonry@gmail.com,40057
31,MX0062,shipping_address,Justino Cruz,greenway.stonemasonry@gmail.com,40057
32,MX0063,address,None,NA,40058
33,MX0063,email,None,NA,40058
34,MX0063,representative,None,NA,40058
35,MX0064,address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40059
36,MX0064,phone,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40059
37,MX0064,shipping_address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40059
38,MX0065,address,None,NA,40060
39,MX0065,email,None,NA,40060
40,MX0065,phone,None,NA,40060
41,MX0065,representative,None,NA,40060
42,MX0065,shipping_address,None,NA,40060
43,MX0066,address,None,NA,40061
44,MX0066,email,None,NA,40061
45,MX0066,phone,None,NA,40061
46,MX0066,representative,None,NA,40061
47,MX0066,shipping_address,None,NA,40061
48,MX0067,address,None,NA,40062
49,MX0067,email,None,NA,40062
50,MX0067,phone,None,NA,40062
51,MX0067,representative,None,NA,40062
52,MX0068,address,None,NA,40063
53,MX0068,email,None,NA,40063
54,MX0068,phone,None,NA,40063
55,MX0068,representative,None,NA,40063
56,MX0069,address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40064
57,MX0069,phone,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40064
58,MX0069,shipping_address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40064
59,MX0070,address,None,NA,40065
60,MX0070,email,None,NA,40065
61,MX0070,phone,None,NA,40065
62,MX0070,representative,None,NA,40065
63,MX0071,address,None,NA,40066
64,MX0071,email,None,NA,40066
65,MX0071,representative,None,NA,40066
66,MX0071,shipping_address,None,NA,40066
67,MX0072,address,None,NA,40067
68,MX0072,email,None,NA,40067
69,MX0072,phone,None,NA,40067
70,MX0072,representative,None,NA,40067
71,MX0073,address,Casto De la Cruz Francisco,delacruz5castro@gmail.com,40068
72,MX0074,address,None,NA,40069
73,MX0074,email,None,NA,40069
74,MX0074,phone,None,NA,40069
75,MX0074,representative,None,NA,40069
76,MX0075,address,None,NA,40070
77,MX0075,email,None,NA,40070
78,MX0075,phone,None,NA,40070
79,MX0075,representative,None,NA,40070
80,MX0075,shipping_address,None,NA,40070
81,MX0076,address,None,NA,40071
82,MX0076,email,None,NA,40071
83,MX0076,phone,None,NA,40071
84,MX0076,representative,None,NA,40071
85,MX0077,address,Rosario SÃ¡nchez,chayo052574@gmail.com,40072
86,MX0077,shipping_address,Rosario SÃ¡nchez,chayo052574@gmail.com,40072
87,MX0078,address,None,bulbarela12345@gmail.com,40073
88,MX0078,representative,None,bulbarela12345@gmail.com,40073
89,MX0079,address,None,30sanchez.12345@gmail.com,40074
90,MX0079,representative,None,30sanchez.12345@gmail.com,40074
91,MX0079,shipping_address,None,30sanchez.12345@gmail.com,40074
92,MX0080,address,MarÃ­a Ãlvarez Rivera,mariaalvarezrivera321@gmail.com,40075
93,MX0081,address,None,30sanchez.12345@gmail.com,40076
94,MX0081,representative,None,30sanchez.12345@gmail.com,40076
95,MX0081,shipping_address,None,30sanchez.12345@gmail.com,40076
96,MX0082,address,None,NA,40077
97,MX0082,email,None,NA,40077
98,MX0082,phone,None,NA,40077
99,MX0082,representative,None,NA,40077
100,MX0082,shipping_address,None,NA,40077
101,MX0083,address,Alberto Amezcua,alberto-aac@hotmail.com,40078
102,MX0084,address,Angela LÃ³pez Cruz,cruzambrosio370@gmail.com,40039
103,MX0084,email,Angela LÃ³pez Cruz,cruzambrosio370@gmail.com,40039
104,MX0084,phone,Angela LÃ³pez Cruz,cruzambrosio370@gmail.com,40039
105,MX0084,representative,Angela LÃ³pez Cruz,cruzambrosio370@gmail.com,40039
106,MX0084,shipping_address,Angela LÃ³pez Cruz,cruzambrosio370@gmail.com,40039
107,MX0085,address,Delfino Cruz Mil,trujillojuana798@gmail.com,40079
108,MX0086,address,None,NA,40080
109,MX0086,email,None,NA,40080
110,MX0086,phone,None,NA,40080
111,MX0086,representative,None,NA,40080
112,MX0087,address,None,NA,40081
113,MX0087,email,None,NA,40081
114,MX0087,phone,None,NA,40081
115,MX0087,representative,None,NA,40081
116,MX0088,address,None,NA,40082
117,MX0088,email,None,NA,40082
118,MX0088,representative,None,NA,40082
119,MX0089,address,None,NA,40083
120,MX0089,email,None,NA,40083
121,MX0089,phone,None,NA,40083
122,MX0089,representative,None,NA,40083
123,MX0089,shipping_address,None,NA,40083
124,MX0090,address,None,NA,40084
125,MX0090,email,None,NA,40084
126,MX0090,phone,None,NA,40084
127,MX0090,representative,None,NA,40084
128,MX0091,address,None,NA,40085
129,MX0091,email,None,NA,40085
130,MX0091,phone,None,NA,40085
131,MX0091,representative,None,NA,40085
132,MX0091,shipping_address,None,NA,40085
133,MX0092,address,None,NA,40086
134,MX0092,email,None,NA,40086
135,MX0092,phone,None,NA,40086
136,MX0092,representative,None,NA,40086
137,MX0093,address,None,NA,40087
138,MX0093,email,None,NA,40087
139,MX0093,phone,None,NA,40087
140,MX0093,representative,None,NA,40087
141,MX0094,address,None,NA,40088
142,MX0094,email,None,NA,40088
143,MX0094,representative,None,NA,40088
144,MX0094,shipping_address,None,NA,40088
145,MX0095,address,None,NA,40089
146,MX0095,email,None,NA,40089
147,MX0095,phone,None,NA,40089
148,MX0095,representative,None,NA,40089
149,MX0096,address,Delfino Cruz Mil,trujillojuana798@gmail.com,40090
150,MX0097,address,None,NA,40091
151,MX0097,email,None,NA,40091
152,MX0097,phone,None,NA,40091
153,MX0097,representative,None,NA,40091
154,MX0097,shipping_address,None,NA,40091
155,MX0098,address,None,NA,40092
156,MX0098,email,None,NA,40092
157,MX0098,representative,None,NA,40092
158,MX0098,shipping_address,None,NA,40092

======================================================================
âœ… RELACIONES FPI - AUDITORÃA COMPLETADA
======================================================================

In [50]:
# ==============================================================
# ðŸ”— SECCIÃ“N: RELACIÃ“N CTI â†” FPI
# ==============================================================

print("======================================================================")
print("ðŸ” RELACIÃ“N ENTRE contract_tree_information Y farmer_personal_information")
print("======================================================================")

# ==============================================================
# 1ï¸âƒ£ CREAR VISTA AUXILIAR - EXPANSIÃ“N FPI PARA VINCULAR CTI
# ==============================================================

with engine.begin() as conn:
    conn.exec_driver_sql("""
        CREATE OR REPLACE VIEW masterdatabase.vw_cti_fpi_link AS
        SELECT
            cti.contract_code,
            cti.etp_year,
            cti.status,
            fpi.farmer_number,
            fpi.representative,
            fpi.email,
            fpi.phone,
            fpi.address,
            fpi.shipping_address
        FROM masterdatabase.contract_tree_information cti
        LEFT JOIN masterdatabase.farmer_personal_information fpi
            ON cti.contract_code = ANY(fpi.contract_codes);
    """)
print("âœ… Vista creada/actualizada: masterdatabase.vw_cti_fpi_link")

# ==============================================================
# 2ï¸âƒ£ AUDITORÃA DE ENLACES CTIâ€“FPI
# ==============================================================

print("\nðŸ“‹ VerificaciÃ³n de correspondencias CTIâ€“FPI:")

query_audit = """
SELECT
    COUNT(DISTINCT cti.contract_code) AS total_cti,
    COUNT(DISTINCT link.contract_code) AS linked_cti,
    COUNT(DISTINCT cti.contract_code) - COUNT(DISTINCT link.contract_code) AS unlinked_cti,
    COUNT(DISTINCT link.farmer_number) AS distinct_farmers
FROM masterdatabase.contract_tree_information cti
LEFT JOIN masterdatabase.vw_cti_fpi_link link USING (contract_code);
"""
df_cti_audit = pd.read_sql(query_audit, engine)
display(df_cti_audit)

# ==============================================================
# 3ï¸âƒ£ LISTADO DE CONTRATOS SIN FARMER VINCULADO
# ==============================================================

print("\nðŸš¨ Contratos en CTI sin correspondencia en FPI:")

query_unlinked = """
SELECT
    cti.contract_code,
    cti.etp_year,
    cti.status
FROM masterdatabase.contract_tree_information cti
LEFT JOIN masterdatabase.vw_cti_fpi_link link USING (contract_code)
WHERE link.farmer_number IS NULL
ORDER BY cti.contract_code;
"""
df_unlinked = pd.read_sql(query_unlinked, engine)
display(df_unlinked)

# ==============================================================
# 4ï¸âƒ£ VALIDACIÃ“N CRUZADA (duplicados o conflictos)
# ==============================================================

print("\nðŸ”Ž Contratos con mÃ¡s de un farmer asociado (posibles conflictos):")

query_conflicts = """
SELECT
    contract_code,
    COUNT(DISTINCT farmer_number) AS farmer_count,
    ARRAY_AGG(DISTINCT farmer_number) AS farmers
FROM masterdatabase.vw_cti_fpi_link
GROUP BY contract_code
HAVING COUNT(DISTINCT farmer_number) > 1
ORDER BY contract_code;
"""
df_conflicts = pd.read_sql(query_conflicts, engine)
display(df_conflicts)

print("\n======================================================================")
print("âœ… RELACIÃ“N CTI â†” FPI - AUDITORÃA COMPLETADA")
print("======================================================================")

======================================================================
ðŸ” RELACIÃ“N ENTRE contract_tree_information Y farmer_personal_information
======================================================================
âœ… Vista creada/actualizada: masterdatabase.vw_cti_fpi_link

ðŸ“‹ VerificaciÃ³n de correspondencias CTIâ€“FPI:

   total_cti  linked_cti  unlinked_cti  distinct_farmers
0        462         462             0               385

ðŸš¨ Contratos en CTI sin correspondencia en FPI:

  contract_code  etp_year          status
0        CR0014      2016  Out of Program

ðŸ”Ž Contratos con mÃ¡s de un farmer asociado (posibles conflictos):

Empty DataFrame
Columns: [contract_code, farmer_count, farmers]
Index: []

======================================================================
âœ… RELACIÃ“N CTI â†” FPI - AUDITORÃA COMPLETADA
======================================================================

In [52]:
# ==============================================================
# ðŸª¦ SECCIÃ“N 7ï¸âƒ£ â€” DEPRECACIÃ“N CONTROLADA DE survival_timeseries
# ==============================================================

print("======================================================================")
print("ðŸ” PREPARACIÃ“N PARA DEPRECACIÃ“N DE survival_timeseries")
print("======================================================================")

# Paso 1ï¸âƒ£ â€” AuditorÃ­a previa y respaldo
query_audit = """
SELECT COUNT(*) AS registros,
       MIN(inventory_date) AS min_date,
       MAX(inventory_date) AS max_date
FROM masterdatabase.survival_timeseries;
"""
df = pd.read_sql(query_audit, engine)
display(df)

with engine.begin() as conn:
    conn.exec_driver_sql("""
        CREATE TABLE IF NOT EXISTS masterdatabase.survival_timeseries_backup AS
        SELECT *, now() AS backup_timestamp
        FROM masterdatabase.survival_timeseries;
    """)
print("âœ… Respaldo creado: masterdatabase.survival_timeseries_backup")

======================================================================
ðŸ” PREPARACIÃ“N PARA DEPRECACIÃ“N DE survival_timeseries
======================================================================

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "masterdatabase.survival_timeseries" does not exist
LINE 5: FROM masterdatabase.survival_timeseries;
             ^

[SQL:
SELECT COUNT(*) AS registros,
       MIN(inventory_date) AS min_date,
       MAX(inventory_date) AS max_date
FROM masterdatabase.survival_timeseries;
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [53]:

# Paso 2ï¸âƒ£ â€” Desvincular triggers asociados (si existieran)

print("\nðŸ§¹ Eliminando triggers asociados a survival_timeseries...")

with engine.begin() as conn:
    conn.exec_driver_sql("""
        DROP TRIGGER IF EXISTS trigger_log_survival_timeseries
        ON masterdatabase.inventory_metrics_current;
    """)
print("âœ… Trigger trigger_log_survival_timeseries eliminado (si existÃ­a)")

# Paso 3ï¸âƒ£ â€” EliminaciÃ³n controlada de la tabla

print("\nðŸ”¥ Eliminando tabla survival_timeseries...")

with engine.begin() as conn:
    conn.exec_driver_sql("""
        DROP TABLE IF EXISTS masterdatabase.survival_timeseries;
    """)
print("âœ… Tabla eliminada: masterdatabase.survival_timeseries (respaldo conservado)")

ðŸ§¹ Eliminando triggers asociados a survival_timeseries...
âœ… Trigger trigger_log_survival_timeseries eliminado (si existÃ­a)

ðŸ”¥ Eliminando tabla survival_timeseries...
âœ… Tabla eliminada: masterdatabase.survival_timeseries (respaldo conservado)

In [56]:
# Paso 4ï¸âƒ£ â€” VerificaciÃ³n post-deprecaciÃ³n (versiÃ³n segura SQLAlchemy 2.x)

from sqlalchemy import text

print("\nðŸ”Ž Verificando integridad tras deprecaciÃ³n:")

query_verify = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'masterdatabase'
  AND table_name LIKE 'survival%';
"""

with engine.connect() as conn:
    df_verify = pd.read_sql(text(query_verify), conn)

display(df_verify)

print("\nâœ… Solo deberÃ­a permanecer: survival_current (VIEW)")
print("======================================================================")
print("ðŸ DEPRECACIÃ“N DE survival_timeseries COMPLETADA")
print("======================================================================")

ðŸ”Ž Verificando integridad tras deprecaciÃ³n:

                   table_name
0            survival_current
1     survival_current_backup
2  survival_timeseries_backup

âœ… Solo deberÃ­a permanecer: survival_current (VIEW)
======================================================================
ðŸ DEPRECACIÃ“N DE survival_timeseries COMPLETADA
======================================================================

In [57]:
# ==============================================================
# ðŸ”„ SECCIÃ“N 8ï¸âƒ£ â€” REDEFINICIÃ“N DE survival_current POST-DEPRECACIÃ“N
# ==============================================================

with engine.begin() as conn:
    conn.exec_driver_sql("""
        CREATE OR REPLACE VIEW masterdatabase.survival_current AS
        SELECT
            imc.contract_code,
            imc.survival AS current_survival_pct,
            imc.total_trees AS current_surviving_trees,
            CASE
                WHEN imc.type_of_metric = 'placeholder' THEN 'Placeholder (IMC)'
                WHEN imc.inventory_year IS NOT NULL THEN 'Inventory ' || imc.inventory_year::text
                ELSE 'IMC (unspecified)'
            END AS survival_metric_source,
            imc.inventory_year,
            imc.inventory_date,
            imc.mortality
        FROM masterdatabase.inventory_metrics_current imc
        WHERE imc.survival IS NOT NULL;
    """)
print("âœ… Vista survival_current actualizada: ahora lee exclusivamente de inventory_metrics_current")

âœ… Vista survival_current actualizada: ahora lee exclusivamente de inventory_metrics_current

In [58]:
print("======================================================================")
print("ðŸ” VERIFICACIÃ“N POST-REDEFINICIÃ“N DE survival_current")
print("======================================================================")

query_check = """
SELECT
    COUNT(*) AS total_records,
    COUNT(DISTINCT contract_code) AS unique_contracts,
    MIN(inventory_year) AS min_year,
    MAX(inventory_year) AS max_year
FROM masterdatabase.survival_current;
"""
df_check = pd.read_sql(query_check, engine)
display(df_check)

print("\nâœ… survival_current ahora depende directamente de inventory_metrics_current")
print("   y refleja los registros mÃ¡s recientes por contrato.")
print("======================================================================")

======================================================================
ðŸ” VERIFICACIÃ“N POST-REDEFINICIÃ“N DE survival_current
======================================================================

   total_records  unique_contracts  min_year  max_year
0            198               198      2021      2025

âœ… survival_current ahora depende directamente de inventory_metrics_current
   y refleja los registros mÃ¡s recientes por contrato.
======================================================================

In [59]:
print("ðŸ”— Confirmando dependencias de survival_current...")

query_dependencies = """
SELECT
    dependent_view.relname AS view_name,
    source_table.relname AS source_table
FROM pg_depend d
JOIN pg_rewrite r ON d.objid = r.oid
JOIN pg_class dependent_view ON r.ev_class = dependent_view.oid
JOIN pg_class source_table ON d.refobjid = source_table.oid
JOIN pg_namespace n ON n.oid = dependent_view.relnamespace
WHERE n.nspname = 'masterdatabase'
  AND dependent_view.relname = 'survival_current';
"""
df_dep = pd.read_sql(query_dependencies, engine)
display(df_dep)

print("\nâœ… Dependencias verificadas correctamente.")

ðŸ”— Confirmando dependencias de survival_current...

          view_name               source_table
0  survival_current           survival_current
1  survival_current  inventory_metrics_current
2  survival_current  inventory_metrics_current
3  survival_current  inventory_metrics_current
4  survival_current  inventory_metrics_current
5  survival_current  inventory_metrics_current
6  survival_current  inventory_metrics_current
7  survival_current  inventory_metrics_current

âœ… Dependencias verificadas correctamente.

In [62]:
# ==============================================================
# ðŸ§¾ SECCIÃ“N 10ï¸âƒ£ â€” EXPORT DE TODAS LAS RELACIONES (FÃSICAS + LÃ“GICAS)
# ==============================================================

from sqlalchemy import text
import pandas as pd
from core.paths import DATABASE_EXPORTS_DIR, safe_mkdir

print("======================================================================")
print("ðŸ” RECOLECTANDO RELACIONES DEL ESQUEMA masterdatabase")
print("======================================================================")

# Asegurarse de que la carpeta existe
safe_mkdir(DATABASE_EXPORTS_DIR)

# 1ï¸âƒ£ Relaciones fÃ­sicas (FOREIGN KEYs)
query_physical = text("""
SELECT
    conname AS constraint_name,
    conrelid::regclass AS child_table,
    confrelid::regclass AS parent_table,
    'physical' AS relationship_type,
    'FOREIGN KEY' AS description
FROM pg_constraint
WHERE contype = 'f'
  AND connamespace = (SELECT oid FROM pg_namespace WHERE nspname = 'masterdatabase');
""")

# 2ï¸âƒ£ Relaciones lÃ³gicas (vistas, dependencias)
query_logical = text("""
SELECT
    dependent_view.relname AS child_table,
    source_table.relname AS parent_table,
    'logical' AS relationship_type,
    CASE
        WHEN dependent_view.relkind = 'v' THEN 'VIEW: ' || dependent_view.relname
        WHEN dependent_view.relkind = 'r' THEN 'TABLE: ' || dependent_view.relname
        ELSE 'OTHER'
    END AS description
FROM pg_depend d
JOIN pg_rewrite r ON d.objid = r.oid
JOIN pg_class dependent_view ON r.ev_class = dependent_view.oid
JOIN pg_class source_table ON d.refobjid = source_table.oid
JOIN pg_namespace n ON n.oid = dependent_view.relnamespace
WHERE n.nspname = 'masterdatabase'
ORDER BY dependent_view.relname;
""")

# 3ï¸âƒ£ Triggers activos
query_triggers = text("""
SELECT
    event_object_table AS parent_table,
    trigger_name AS child_table,
    'trigger' AS relationship_type,
    action_statement AS description
FROM information_schema.triggers
WHERE trigger_schema = 'masterdatabase';
""")

# Ejecutar consultas
with engine.connect() as conn:
    df_phys = pd.read_sql(query_physical, conn)
    df_log = pd.read_sql(query_logical, conn)
    df_trig = pd.read_sql(query_triggers, conn)

# Normalizar y combinar
df_phys = df_phys.rename(columns={"constraint_name": "link_name"})
df_log["link_name"] = None
df_trig["link_name"] = None

df_all = pd.concat([df_phys, df_log, df_trig], ignore_index=True)
display(df_all)

# 4ï¸âƒ£ Exportar a DatabaseExports
export_xlsx = DATABASE_EXPORTS_DIR / "masterdatabase_dependencies_full.xlsx"
export_csv = DATABASE_EXPORTS_DIR / "masterdatabase_dependencies_full.csv"

df_all.to_excel(export_xlsx, index=False)
df_all.to_csv(export_csv, index=False)
print(f"âœ… Export completado en:\nðŸ“˜ Excel: {export_xlsx}\nðŸ“„ CSV:   {export_csv}")
print("======================================================================")
# ==============================================================
# ðŸ§¾ SECCIÃ“N 10ï¸âƒ£ â€” EXPORT DE TODAS LAS RELACIONES (FÃSICAS + LÃ“GICAS)
# ==============================================================

from sqlalchemy import text
import pandas as pd
from core.paths import DATABASE_EXPORTS_DIR, safe_mkdir

print("======================================================================")
print("ðŸ” RECOLECTANDO RELACIONES DEL ESQUEMA masterdatabase")
print("======================================================================")

# Asegurarse de que la carpeta existe
safe_mkdir(DATABASE_EXPORTS_DIR)

# 1ï¸âƒ£ Relaciones fÃ­sicas (FOREIGN KEYs)
query_physical = text("""
SELECT
    conname AS constraint_name,
    conrelid::regclass AS child_table,
    confrelid::regclass AS parent_table,
    'physical' AS relationship_type,
    'FOREIGN KEY' AS description
FROM pg_constraint
WHERE contype = 'f'
  AND connamespace = (SELECT oid FROM pg_namespace WHERE nspname = 'masterdatabase');
""")

# 2ï¸âƒ£ Relaciones lÃ³gicas (vistas, dependencias)
query_logical = text("""
SELECT
    dependent_view.relname AS child_table,
    source_table.relname AS parent_table,
    'logical' AS relationship_type,
    CASE
        WHEN dependent_view.relkind = 'v' THEN 'VIEW: ' || dependent_view.relname
        WHEN dependent_view.relkind = 'r' THEN 'TABLE: ' || dependent_view.relname
        ELSE 'OTHER'
    END AS description
FROM pg_depend d
JOIN pg_rewrite r ON d.objid = r.oid
JOIN pg_class dependent_view ON r.ev_class = dependent_view.oid
JOIN pg_class source_table ON d.refobjid = source_table.oid
JOIN pg_namespace n ON n.oid = dependent_view.relnamespace
WHERE n.nspname = 'masterdatabase'
ORDER BY dependent_view.relname;
""")

# 3ï¸âƒ£ Triggers activos
query_triggers = text("""
SELECT
    event_object_table AS parent_table,
    trigger_name AS child_table,
    'trigger' AS relationship_type,
    action_statement AS description
FROM information_schema.triggers
WHERE trigger_schema = 'masterdatabase';
""")

# Ejecutar consultas
with engine.connect() as conn:
    df_phys = pd.read_sql(query_physical, conn)
    df_log = pd.read_sql(query_logical, conn)
    df_trig = pd.read_sql(query_triggers, conn)

# Normalizar y combinar
df_phys = df_phys.rename(columns={"constraint_name": "link_name"})
df_log["link_name"] = None
df_trig["link_name"] = None

df_all = pd.concat([df_phys, df_log, df_trig], ignore_index=True)
display(df_all)

# 4ï¸âƒ£ Exportar a DatabaseExports
export_xlsx = DATABASE_EXPORTS_DIR / "masterdatabase_dependencies_full.xlsx"
export_csv = DATABASE_EXPORTS_DIR / "masterdatabase_dependencies_full.csv"

df_all.to_excel(export_xlsx, index=False)
df_all.to_csv(export_csv, index=False)
print(f"âœ… Export completado en:\nðŸ“˜ Excel: {export_xlsx}\nðŸ“„ CSV:   {export_csv}")
print("======================================================================")

======================================================================
ðŸ” RECOLECTANDO RELACIONES DEL ESQUEMA masterdatabase
======================================================================

,link_name,child_table,parent_table,relationship_type,description
0,ca_cti_fk,masterdatabase.contract_allocation,masterdatabase.contract_tree_information,physical,FOREIGN KEY
1,contract_header_farmer_number_fkey,masterdatabase.contract_header,masterdatabase.farmer_personal_information,physical,FOREIGN KEY
2,None,fpi_contracts_expanded,fpi_contracts_expanded,logical,VIEW: fpi_contracts_expanded
3,None,fpi_contracts_expanded,farmer_personal_information,logical,VIEW: fpi_contracts_expanded
4,None,mv_atlas_years_fixed,mv_states_by_etp_year_qgis,logical,OTHER
5,None,mv_atlas_years_fixed,atlas_bbox,logical,OTHER
6,None,mv_atlas_years_fixed,mv_atlas_years_fixed,logical,OTHER
7,None,mv_states_by_etp_year_qgis,vw_contracts_map_metrics,logical,OTHER
8,None,mv_states_by_etp_year_qgis,vw_contracts_map_metrics,logical,OTHER
9,None,mv_states_by_etp_year_qgis,WorldTree_States,logical,OTHER
10,None,mv_states_by_etp_year_qgis,WorldTree_States,logical,OTHER
11,None,mv_states_by_etp_year_qgis,mv_states_by_etp_year_qgis,logical,OTHER
12,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
13,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
14,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
15,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
16,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
17,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
18,None,survival_current,survival_current,logical,VIEW: survival_current
19,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
20,None,vw_atlas_etp_year_coverage,vw_atlas_etp_year_coverage,logical,VIEW: vw_atlas_etp_year_coverage
21,None,vw_atlas_etp_year_coverage,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_etp_year_coverage
22,None,vw_atlas_etp_year_coverage,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_etp_year_coverage
23,None,vw_atlas_etp_year_coverage,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_etp_year_coverage
24,None,vw_atlas_years,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_years
25,None,vw_atlas_years,vw_atlas_years,logical,VIEW: vw_atlas_years
26,None,vw_atlas_years_fixed,vw_atlas_years_fixed,logical,VIEW: vw_atlas_years_fixed
27,None,vw_atlas_years_fixed,WorldTree_States,logical,VIEW: vw_atlas_years_fixed
28,None,vw_atlas_years_fixed,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_years_fixed
29,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
30,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
31,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
32,None,vw_contracts_map,vw_contracts_map,logical,VIEW: vw_contracts_map
33,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
34,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
35,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
36,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
37,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
38,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
39,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
40,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
41,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
42,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
43,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
44,None,vw_contracts_map_metrics,vw_contracts_map_metrics,logical,VIEW: vw_contracts_map_metrics
45,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
46,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
47,None,vw_cti_fpi_link,contract_tree_information,logical,VIEW: vw_cti_fpi_link
48,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
49,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
50,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
51,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
52,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
53,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
54,None,vw_cti_fpi_link,vw_cti_fpi_link,logical,VIEW: vw_cti_fpi_link
55,None,vw_cti_fpi_link,contract_tree_information,logical,VIEW: vw_cti_fpi_link
56,None,vw_cti_fpi_link,contract_tree_information,logical,VIEW: vw_cti_fpi_link
57,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
58,None,vw_fpi_contracts,farmer_personal_information,logical,VIEW: vw_fpi_contracts
59,None,vw_fpi_contracts,vw_fpi_contracts,logical,VIEW: vw_fpi_contracts
60,None,vw_fpi_contracts,farmer_personal_information,logical,VIEW: vw_fpi_contracts
61,None,vw_states_by_etp_year,WorldTree_States,logical,VIEW: vw_states_by_etp_year
62,None,vw_states_by_etp_year,WorldTree_States,logical,VIEW: vw_states_by_etp_year
63,None,vw_states_by_etp_year,WorldTree_States,logical,VIEW: vw_states_by_etp_year
64,None,vw_states_by_etp_year,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year
65,None,vw_states_by_etp_year,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year
66,None,vw_states_by_etp_year,vw_states_by_etp_year,logical,VIEW: vw_states_by_etp_year
67,None,vw_states_by_etp_year,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year
68,None,vw_states_by_etp_year_qgis,WorldTree_States,logical,VIEW: vw_states_by_etp_year_qgis
69,None,vw_states_by_etp_year_qgis,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year_qgis
70,None,vw_states_by_etp_year_qgis,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year_qgis
71,None,vw_states_by_etp_year_qgis,vw_states_by_etp_year_qgis,logical,VIEW: vw_states_by_etp_year_qgis
72,None,vw_states_by_etp_year_qgis,WorldTree_States,logical,VIEW: vw_states_by_etp_year_qgis
73,None,trigger_sync_inventory_to_current,inventory_metrics,trigger,EXECUTE FUNCTION masterdatabase.sync_inventory...
74,None,trigger_sync_inventory_to_current,inventory_metrics,trigger,EXECUTE FUNCTION masterdatabase.sync_inventory...

âœ… Export completado en:
ðŸ“˜ Excel: C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\masterdatabase_dependencies_full.xlsx
ðŸ“„ CSV:   C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\masterdatabase_dependencies_full.csv
======================================================================
======================================================================
ðŸ” RECOLECTANDO RELACIONES DEL ESQUEMA masterdatabase
======================================================================

,link_name,child_table,parent_table,relationship_type,description
0,ca_cti_fk,masterdatabase.contract_allocation,masterdatabase.contract_tree_information,physical,FOREIGN KEY
1,contract_header_farmer_number_fkey,masterdatabase.contract_header,masterdatabase.farmer_personal_information,physical,FOREIGN KEY
2,None,fpi_contracts_expanded,fpi_contracts_expanded,logical,VIEW: fpi_contracts_expanded
3,None,fpi_contracts_expanded,farmer_personal_information,logical,VIEW: fpi_contracts_expanded
4,None,mv_atlas_years_fixed,mv_states_by_etp_year_qgis,logical,OTHER
5,None,mv_atlas_years_fixed,atlas_bbox,logical,OTHER
6,None,mv_atlas_years_fixed,mv_atlas_years_fixed,logical,OTHER
7,None,mv_states_by_etp_year_qgis,vw_contracts_map_metrics,logical,OTHER
8,None,mv_states_by_etp_year_qgis,vw_contracts_map_metrics,logical,OTHER
9,None,mv_states_by_etp_year_qgis,WorldTree_States,logical,OTHER
10,None,mv_states_by_etp_year_qgis,WorldTree_States,logical,OTHER
11,None,mv_states_by_etp_year_qgis,mv_states_by_etp_year_qgis,logical,OTHER
12,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
13,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
14,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
15,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
16,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
17,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
18,None,survival_current,survival_current,logical,VIEW: survival_current
19,None,survival_current,inventory_metrics_current,logical,VIEW: survival_current
20,None,vw_atlas_etp_year_coverage,vw_atlas_etp_year_coverage,logical,VIEW: vw_atlas_etp_year_coverage
21,None,vw_atlas_etp_year_coverage,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_etp_year_coverage
22,None,vw_atlas_etp_year_coverage,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_etp_year_coverage
23,None,vw_atlas_etp_year_coverage,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_etp_year_coverage
24,None,vw_atlas_years,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_years
25,None,vw_atlas_years,vw_atlas_years,logical,VIEW: vw_atlas_years
26,None,vw_atlas_years_fixed,vw_atlas_years_fixed,logical,VIEW: vw_atlas_years_fixed
27,None,vw_atlas_years_fixed,WorldTree_States,logical,VIEW: vw_atlas_years_fixed
28,None,vw_atlas_years_fixed,vw_states_by_etp_year_qgis,logical,VIEW: vw_atlas_years_fixed
29,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
30,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
31,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
32,None,vw_contracts_map,vw_contracts_map,logical,VIEW: vw_contracts_map
33,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
34,None,vw_contracts_map,contract_tree_information,logical,VIEW: vw_contracts_map
35,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
36,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
37,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
38,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
39,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
40,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
41,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
42,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
43,None,vw_contracts_map_metrics,contract_tree_information,logical,VIEW: vw_contracts_map_metrics
44,None,vw_contracts_map_metrics,vw_contracts_map_metrics,logical,VIEW: vw_contracts_map_metrics
45,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
46,None,vw_contracts_map_metrics,contract_allocation,logical,VIEW: vw_contracts_map_metrics
47,None,vw_cti_fpi_link,contract_tree_information,logical,VIEW: vw_cti_fpi_link
48,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
49,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
50,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
51,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
52,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
53,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
54,None,vw_cti_fpi_link,vw_cti_fpi_link,logical,VIEW: vw_cti_fpi_link
55,None,vw_cti_fpi_link,contract_tree_information,logical,VIEW: vw_cti_fpi_link
56,None,vw_cti_fpi_link,contract_tree_information,logical,VIEW: vw_cti_fpi_link
57,None,vw_cti_fpi_link,farmer_personal_information,logical,VIEW: vw_cti_fpi_link
58,None,vw_fpi_contracts,farmer_personal_information,logical,VIEW: vw_fpi_contracts
59,None,vw_fpi_contracts,vw_fpi_contracts,logical,VIEW: vw_fpi_contracts
60,None,vw_fpi_contracts,farmer_personal_information,logical,VIEW: vw_fpi_contracts
61,None,vw_states_by_etp_year,WorldTree_States,logical,VIEW: vw_states_by_etp_year
62,None,vw_states_by_etp_year,WorldTree_States,logical,VIEW: vw_states_by_etp_year
63,None,vw_states_by_etp_year,WorldTree_States,logical,VIEW: vw_states_by_etp_year
64,None,vw_states_by_etp_year,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year
65,None,vw_states_by_etp_year,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year
66,None,vw_states_by_etp_year,vw_states_by_etp_year,logical,VIEW: vw_states_by_etp_year
67,None,vw_states_by_etp_year,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year
68,None,vw_states_by_etp_year_qgis,WorldTree_States,logical,VIEW: vw_states_by_etp_year_qgis
69,None,vw_states_by_etp_year_qgis,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year_qgis
70,None,vw_states_by_etp_year_qgis,vw_contracts_map_metrics,logical,VIEW: vw_states_by_etp_year_qgis
71,None,vw_states_by_etp_year_qgis,vw_states_by_etp_year_qgis,logical,VIEW: vw_states_by_etp_year_qgis
72,None,vw_states_by_etp_year_qgis,WorldTree_States,logical,VIEW: vw_states_by_etp_year_qgis
73,None,trigger_sync_inventory_to_current,inventory_metrics,trigger,EXECUTE FUNCTION masterdatabase.sync_inventory...
74,None,trigger_sync_inventory_to_current,inventory_metrics,trigger,EXECUTE FUNCTION masterdatabase.sync_inventory...

âœ… Export completado en:
ðŸ“˜ Excel: C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\masterdatabase_dependencies_full.xlsx
ðŸ“„ CSV:   C:\Users\HeyCe\World Tree Technologies Inc\Operations - Documentos\WorldTreeSystem\DatabaseExports\masterdatabase_dependencies_full.csv
======================================================================

# Masterjoin pero como un view en SQL

In [15]:
from core.db import get_engine
from core.libs import pd

engine = get_engine()

def get_headers(table_name, schema="masterdatabase"):
    query = f"""
        SELECT column_name
        FROM information_schema.columns
        WHERE table_schema = '{schema}'
          AND table_name = '{table_name}'
        ORDER BY ordinal_position;
    """
    return pd.read_sql(query, engine)

tables = [
    ("CTI", "contract_tree_information"),
    ("FPI", "farmer_personal_information"),
    ("CA",  "contract_allocation"),
    ("IMC", "inventory_metrics_current"),
    ("IM",  "inventory_metrics"),
]

for alias, table in tables:
    df_cols = get_headers(table)
    print(f"\n--- {alias} ({table}) ---")
    for col in df_cols["column_name"].tolist():
        print(col)

ðŸ’» Conectado a la base de datos helloworldtree

--- CTI (contract_tree_information) ---
contract_amendment
contract_code
etp_year
harvest_year
land_location
latitude
longitude
planted
planting_obligation
planting_year
region
species
strain
trees_contract
loaded_at
planting_date
status
Filter
land_location_pro
etp_year_backup

--- FPI (farmer_personal_information) ---
farmer_number
representative
phone
email
address
shipping_address
contract_codes
contract_name

--- CA (contract_allocation) ---
contract_code
usa_allocation_pct
usa_trees_contracted
usa_trees_planted
canada_allocation_pct
canada_2017_trees
canada_2017_allocation_pct
canada_trees_contracted
total_can_allocation
loaded_at
etp_type
contracted_cop
planted_cop
contracted_etp
planted_etp
surviving_etp
surviving_cop

--- IMC (inventory_metrics_current) ---
rel_path
contract_code
planting_year
tree_age
inventory_year
inventory_date
tht_mean
tht_std
mht_mean
mht_std
dbh_mean
dbh_std
noncom_dbh_count
doyle_bf_mean
doyle_bf_std
doyle_bf_total
pkid
progress
total_trees
planting_date
type_of_metric
rn
survival
mht_pct_of_target
dbh_pct_of_target
projected_dbh
projected_doyle_bf
mortality

--- IM (inventory_metrics) ---
rel_path
contract_code
tree_age
inventory_year
inventory_date
tht_mean
tht_std
mht_mean
mht_std
dbh_mean
dbh_std
noncom_dbh_count
doyle_bf_mean
doyle_bf_std
doyle_bf_total
pkid
progress
total_trees
type_of_metric
planting_date
planting_year
survival
mht_pct_of_target
dbh_pct_of_target
projected_dbh
projected_doyle_bf
mortality

In [14]:
def get_headers_with_types(table_name, schema="masterdatabase"):
    query = f"""
        SELECT
            column_name,
            data_type
        FROM information_schema.columns
        WHERE table_schema = '{schema}'
          AND table_name = '{table_name}'
        ORDER BY ordinal_position;
    """
    return pd.read_sql(query, engine)

# Ejemplo para IMC
df_im = get_headers_with_types("inventory_metrics")
df_im.head(27)

           column_name         data_type
0             rel_path              text
1        contract_code              text
2             tree_age              text
3       inventory_year            bigint
4       inventory_date              date
5             tht_mean  double precision
6              tht_std  double precision
7             mht_mean  double precision
8              mht_std  double precision
9             dbh_mean  double precision
10             dbh_std  double precision
11    noncom_dbh_count            bigint
12       doyle_bf_mean  double precision
13        doyle_bf_std  double precision
14      doyle_bf_total  double precision
15                pkid              text
16            progress              text
17         total_trees  double precision
18      type_of_metric              text
19       planting_date              date
20       planting_year  double precision
21            survival  double precision
22   mht_pct_of_target  double precision
23   dbh_pct_of_target  double precision
24       projected_dbh  double precision
25  projected_doyle_bf  double precision
26           mortality  double precision

In [ ]:
cols = [
    "survival",
    "mht_pct_of_target",
    "dbh_pct_of_target",
    "projected_dbh",
    "projected_doyle_bf",
    "mortality",
]

df = pd.read_sql(
    f"""
    SELECT {", ".join(cols)}
    FROM masterdatabase.inventory_metrics_current
    LIMIT 5;
    """,
    engine
)

In [9]:

df = df.dropna(how="all", subset=cols)  # dropea filas donde TODO es None


print(df.head())

Empty DataFrame
Columns: [survival, mht_pct_of_target, dbh_pct_of_target, projected_dbh, projected_doyle_bf, mortality]
Index: []

CreaciÃ³n de VIEWS maestras para anÃ¡lisis operacional

In [16]:
"""
master_views_generator.py
Crea 3 VIEWS en PostgreSQL para anÃ¡lisis operacional:
1. master_join_operational: Snapshot actual (FPI+CTI+CA+IMC+SURV)
2. join_master: Relaciones contract-farmer
3. master_join_expanded: Desglose completo con inventory_metrics
"""

from core.db import get_engine
from core.libs import pd, text
from core.paths import DATABASE_EXPORTS_DIR, safe_mkdir
from datetime import datetime

# === CONFIG ===
SCHEMA = "masterdatabase"
EXPORT_DIR = DATABASE_EXPORTS_DIR
safe_mkdir(EXPORT_DIR)


# ============================================================
# ðŸ“Š DEFINICIONES SQL DE LAS VIEWS
# ============================================================

VIEW_1_MASTER_JOIN_OPERATIONAL = f"""
CREATE OR REPLACE VIEW {SCHEMA}.master_join_operational AS
WITH fpi_exploded AS (
    SELECT
        farmer_number,
        UNNEST(contract_codes) AS contract_code,
        representative,
        phone,
        email,
        address,
        shipping_address,
        contract_name
    FROM {SCHEMA}.farmer_personal_information
)
SELECT
    COALESCE(fpi.farmer_number, 'NO_FARMER') AS farmer_number,
    COALESCE(fpi.contract_code, cti.contract_code, ca.contract_code, imc.contract_code) AS contract_code,

    -- FPI fields
    fpi.representative,
    fpi.phone,
    fpi.email,
    fpi.address,
    fpi.shipping_address,
    fpi.contract_name,

    -- CTI fields
    cti.contract_amendment,
    cti.etp_year,
    cti.harvest_year,
    cti.land_location,
    cti.latitude,
    cti.longitude,
    cti.planted,
    cti.planting_obligation,
    cti.planting_year,
    cti.region,
    cti.species,
    cti.strain,
    cti.trees_contract,
    cti.loaded_at AS cti_loaded_at,
    cti.planting_date,
    cti.status,
    cti.filter,
    cti.land_location_pro,
    cti.etp_year_backup,

    -- CA fields
    ca.usa_allocation_pct,
    ca.usa_trees_contracted,
    ca.usa_trees_planted,
    ca.canada_allocation_pct,
    ca.canada_2017_trees,
    ca.canada_2017_allocation_pct,
    ca.canada_trees_contracted,
    ca.total_can_allocation,
    ca.loaded_at AS ca_loaded_at,
    ca.etp_type,
    ca.contracted_cop,
    ca.planted_cop,
    ca.contracted_etp,
    ca.planted_etp,
    ca.surviving_etp,
    ca.surviving_cop,

    -- IMC fields (mÃ©tricas actuales - usando rn=1 para obtener solo la mÃ¡s reciente)
    imc.rel_path,
    imc.planting_year AS imc_planting_year,
    imc.tree_age,
    imc.inventory_year,
    imc.inventory_date,
    imc.survival,
    imc.tht_mean,
    imc.tht_std,
    imc.mht_mean,
    imc.mht_std,
    imc.mht_pct_of_target,
    imc.dbh_mean,
    imc.dbh_std,
    imc.noncom_dbh_count,
    imc.dbh_pct_of_target,
    imc.doyle_bf_mean,
    imc.doyle_bf_std,
    imc.doyle_bf_total,
    imc.projected_dbh,
    imc.projected_doyle_bf,
    imc.pkid,
    imc.progress,
    imc.total_trees,
    imc.mortality,
    imc.planting_date AS imc_planting_date,
    imc.type_of_metric

FROM fpi_exploded fpi
FULL OUTER JOIN {SCHEMA}.contract_tree_information cti
    ON fpi.contract_code = cti.contract_code
FULL OUTER JOIN {SCHEMA}.contract_allocation ca
    ON COALESCE(fpi.contract_code, cti.contract_code) = ca.contract_code
FULL OUTER JOIN (
    SELECT * FROM {SCHEMA}.inventory_metrics_current
    WHERE rn = 1
) imc
    ON COALESCE(fpi.contract_code, cti.contract_code, ca.contract_code) = imc.contract_code

ORDER BY farmer_number, contract_code;
"""


VIEW_2_JOIN_MASTER = f"""
CREATE OR REPLACE VIEW {SCHEMA}.join_master AS
SELECT
    farmer_number,
    contract_code,
    representative,
    contract_name,
    species,
    status
FROM {SCHEMA}.master_join_operational
WHERE farmer_number IS NOT NULL
  AND contract_code IS NOT NULL
ORDER BY farmer_number, contract_code;
"""


VIEW_3_MASTER_JOIN_EXPANDED = f"""
CREATE OR REPLACE VIEW {SCHEMA}.master_join_expanded AS
WITH fpi_exploded AS (
    SELECT
        farmer_number,
        UNNEST(contract_codes) AS contract_code,
        farmer_name,
        phone_number,
        email,
        address,
        municipality,
        state,
        country,
        postal_code,
        bank_name,
        bank_account,
        clabe,
        rfc,
        curp,
        ine,
        proof_of_address,
        bank_statement,
        created_at AS fpi_created_at,
        updated_at AS fpi_updated_at
    FROM {SCHEMA}.farmer_personal_information
)
SELECT
    COALESCE(fpi.farmer_number, 'NO_FARMER') AS farmer_number,
    COALESCE(fpi.contract_code, cti.contract_code, ca.contract_code, im.contract_code) AS contract_code,

    -- FPI fields
    fpi.farmer_name,
    fpi.phone_number,
    fpi.email,
    fpi.address,
    fpi.municipality,
    fpi.state,
    fpi.country,
    fpi.postal_code,
    fpi.bank_name,
    fpi.bank_account,
    fpi.clabe,
    fpi.rfc,
    fpi.curp,
    fpi.ine,
    fpi.proof_of_address,
    fpi.bank_statement,
    fpi.fpi_created_at,
    fpi.fpi_updated_at,

    -- CTI fields
    cti.project_name,
    cti.specie,
    cti.contract_start_date,
    cti.contract_end_date,
    cti.total_trees_contracted,
    cti.tree_density,
    cti.surface_contracted_ha,
    cti.contract_status,
    cti.created_at AS cti_created_at,
    cti.updated_at AS cti_updated_at,

    -- CA fields
    ca.total_planted,
    ca.planted_2019,
    ca.planted_2020,
    ca.planted_2021,
    ca.planted_2022,
    ca.planted_2023,
    ca.planted_2024,
    ca.planted_2025,
    ca.created_at AS ca_created_at,
    ca.updated_at AS ca_updated_at,

    -- IM fields (DESGLOSE COMPLETO - inventory_metrics)
    im.year AS im_year,
    im.total_trees AS im_total_trees,
    im.alive AS im_alive,
    im.deceased AS im_deceased,
    im.survival_rate AS im_survival_rate,
    im.mortality_rate AS im_mortality_rate,
    im.created_at AS im_created_at,
    im.updated_at AS im_updated_at

FROM fpi_exploded fpi
FULL OUTER JOIN {SCHEMA}.contract_tree_information cti
    ON fpi.contract_code = cti.contract_code
FULL OUTER JOIN {SCHEMA}.contract_allocation ca
    ON COALESCE(fpi.contract_code, cti.contract_code) = ca.contract_code
FULL OUTER JOIN {SCHEMA}.inventory_metrics im
    ON COALESCE(fpi.contract_code, cti.contract_code, ca.contract_code) = im.contract_code

ORDER BY farmer_number, contract_code, im_year;
"""


# ============================================================
# ðŸ› ï¸ FUNCIONES DE GESTIÃ“N
# ============================================================

def create_views(engine):
    """Crea las 3 views en PostgreSQL."""
    views = {
        "master_join_operational": VIEW_1_MASTER_JOIN_OPERATIONAL,
        "join_master": VIEW_2_JOIN_MASTER,
        "master_join_expanded": VIEW_3_MASTER_JOIN_EXPANDED
    }

    print(f"\n{'='*60}")
    print("ðŸ”§ CREANDO VIEWS EN POSTGRESQL")
    print(f"{'='*60}\n")

    with engine.begin() as conn:
        for view_name, view_sql in views.items():
            try:
                conn.execute(text(view_sql))
                print(f"âœ… View creada: {SCHEMA}.{view_name}")
            except Exception as e:
                print(f"âŒ Error creando {view_name}: {e}")

    print(f"\n{'='*60}\n")


def export_view_to_excel(engine, view_name, output_filename=None):
    """Exporta una view a Excel."""
    if output_filename is None:
        timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
        output_filename = f"{view_name}_{timestamp}.xlsx"

    output_path = EXPORT_DIR / output_filename

    print(f"ðŸ“Š Exportando view: {view_name}")

    query = f'SELECT * FROM {SCHEMA}.{view_name};'

    with engine.begin() as conn:
        df = pd.read_sql(text(query), conn)

    # Normalizar timestamps
    for col in df.select_dtypes(include=["datetimetz"]).columns:
        df[col] = df[col].dt.tz_localize(None)

    df.to_excel(output_path, index=False)

    print(f"âœ… Exportado: {output_path}")
    print(f"   Filas: {len(df):,}  |  Columnas: {len(df.columns)}\n")